.dtree {	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	color: #666;	white-space: nowrap;
}
.dtree img {	border: 0px;	vertical-align: middle;}
.dtree a {	color: #333;	text-decoration: none;}
.dtree a.node, .dtree a.nodeSel {	white-space: nowrap;	padding: 1px 2px 1px 2px;}
.dtree a.node:hover, .dtree a.nodeSel:hover {	color: #333;	text-decoration: underline;}
.dtree a.nodeSel {	background-color: #c0d2ec;}
.menu_table {    border-width: 1px 1px 1px 1px;	border-spacing: 2px;	border-style: outset outset outset outset;	border-color: gray gray gray gray;	border-collapse: separate;	background-color: white;}
