
/*    		This file contains any styles that are global to all the systems
		this is basically a time saver, so we don't have to copy code


		*/

.transparent{
background-color:transparent;
}

/* This is for the reporting pages */
.reportPage{
position:absolute;
visibility:hidden;
top:100px;

}
.reportBottom{
position:absolute;
width:100%;
top:985px;

}
.reportTop{
position:absolute;
width:100%;
height:100px;
}





/* These are for the expanding and collasping menus */
.plus{
position:relative;
background:transparent url('/work/pics/plus.gif') center left no-repeat;
text-align:left;
left:0;
width:15px;
height:15px;
}

.form{display:none;}

.minus{
position:relative;
background:transparent url('/work/pics/minus.gif') center left no-repeat;
text-align:left;
left:0;
width:15px;
height:15px;
}

.whiteClearInput{border:0;background-color: transparent; color:#fff; font-family: Verdana,Arial;font-weight: 500;}

.whiteClearInputNumber{border:0;background-color: transparent; color:#fff; font-family: Verdana,Arial;font-weight: 500; text-align:right;}

/* These are for hidden lists.  See FAQ section */

.noImage
{
list-style-image:url('/work/pics/load.gif');
}

/*.noImage LI{height:30px;}*/

.hiddenList{
display:none;
list-style-image:url('/work/pics/load.gif');
}

.folderList{
list-style-image:url('/work/pics/folder.gif');
}

.txtList{
list-style-image:url('/work/pics/txt.gif');
}


.hiddenItem{
display:none;
}

.number
{
text-align:right;
}


.disabled
{
background-color: #ccc;
color:#000; 
font-family: Verdana,Arial;
font-weight:500;
}


TD.calnon 
{
font-family: Geneva, Verdana, 'sans-serif';
border-bottom: 1px #808080 solid;
}

TD.calset {
vertical-align: top;
background-color: #666666;
color: #FFFFFF;
font-family: Geneva, Verdana, 'sans-serif';
border-left: 1px #FFFFFF solid;
border-bottom: 1px #000000 solid;
}

