
.homePageContainer{
position:absolute;
width:100%;
height:100%;
left:0;
top:0;

}

.backgroundImg{
position:absolute;
width:100%;
height:100%;
left:0;
top:0;
z-index:0;
}

.backgroundImg img{
width:100%;
height:100%;
left:0;
top:0;
}


.homePageTop
{
position:relative;
left:0;
top:0;
width:100%;
height:50px;
background:#039 url('/work/pics/mms_logo.gif') center left no-repeat;
color:#fff;
text-align:center;
font-family:  Arial, sans-serif;
}

.mainTitle{
font-weight:900;
}

.welcome
{
position:relative;
font-weight:900;
display:block;
color:#fff;
left:100px;
top:0;
}


.menuDate{
display:inline;
font-weight:900;
}


.homePageMenu{
position:absolute;
top:5%;
left:0%;
background-color:#8BA6D3;
/*background-color:red;*/
width:100%;
padding:0;
margin:0;
z-index:1000;
display:block;
height:3%;
/*overflow-x:hidden;*/
}


#modules{
background-color:transparent;
position:absolute;
left:0%;
top:10%;
height:90%;
width:100%;
overflow:auto;
}


/*  This is for each module or block or whatever you want to call them.  The
 *  sections of code in the middle of the home page */
.module
{
background-color:transparent;
position:relative;
width:100%;
overflow:auto;
}


/* This is for when you want scrollable sections within a module.  This way you
 * can have overflow and not have to take up too much realestate*/
.scrollable
{
background-color:#fff;
position:relative;
width:100%;
height:100px;
overflow:auto;
border:1px solid #000;
}


.dropDownMenu
{
position:relative;
display:inline;
/*width:85px;*/
text-align:center;
z-index:1001;
height:100%;
margin:0;
padding:0;
/*margin-bottom:0;
padding-bottom:0;
margin-top:0;
padding-top:0;*/
}

.dropDownHeader{
background-color:#8BA6D3;
color:#FFF;
}

.dropDownHeaderOver{
background-color:#039;
color:#FFF;
text-decoration:none;
}

.dropDownHeader:hover{background-color:#039;color:#FFF;}

.dropDownHeaderOver,.dropDownHeader,.a_dropDown{
position:relative;
text-align:center;
font-family:Arial,Helvetica, sans-serif;
font-weight:900;
display:inline;
width:auto;
height:100%;
border-right:2px solid #fff;
/*padding:6px;*/
padding-left:5px;
padding-right:5px;
padding-bottom:0;
margin-bottom:0;
}

.menuFrame
{
visibility:hidden;
display:block;
position:absolute;
width:225px;
left:0;
top:8%;
overflow:none;
border:0;

}


.subMenu{
visibility:hidden;
display:block;
position:absolute;
width:225px;
height:auto;
left:0;
/*border:1px solid #8C867B;*/
border:1px solid #8C867B;
text-align:left;
z-index:1003;
top:100%;
}

/*Right now this is just used for spacing

.subMenuTop
{
height:20px;
display:block;
position:relative;
background-color:transparent;
/*visibility:hidden;
border-bottom:1px solid #8C867B;
}
*/
.subMenuTop{display:none;}

.subLink
{
background-color:#fff;
position:relative;
color:#000;
text-indent:25px;
background-color:#fff;
font-family:Arial,Helvetica, sans-serif;
font-weight:900;
text-decoration:none;
display:block;
height:20px;
white-space:nowrap;
border-left:1px solid #8C867B;
border-right:1px solid #8C867B;
/*
padding-top:2px;
padding-bottom:2px;
*/
}
.subLink:hover
{
background-color:#C6CBCE;
color:#000;
text-decoration:none;
}

/*
.subLink:hover .subLinkIcon{background-color:#039;}
*/

.subLinkIcon
{
position:absolute;
top:0;
left:0;
display:inline;
width:25px;
height:20px;
background:url(/work/style/icons/subMenu.gif) #C6CBCE center left no-repeat;
/*float:left;
padding-top:2px;
padding-bottom:2px;
*/
}

.a_dropDown{
color:#fff;
font-weight:900;
text-decoration:none;
}



.a_dropDown:hover {
color:#fff;
background-color:#039;
text-decoration:none;
}

#bottomLink{
}

/* This is the stuff displayed in the center of the page */


.homePageBlocks{
position:absolute;
left:245px;
top:80px;
width:100%;
border:3px solid black;
}

.block{
position:relative;

}

.blockHeader{
background-color:#2c557d;
color:#e0f0ff;
display:block;
}

.blockLink{
display:block;

}

/*
#dropDownMenu1{
left:85px;
}
#dropDownMenu2{
left:165px;
}
#dropDownMenu3{
left:245px;
}
#dropDownMenu4{
left:325px;
}
#dropDownMenu5{
left:405px;
}
#dropDownMenu6{
left:485px;
}
#dropDownMenu7{
left:565px;
}
#dropDownMenu8{
left:645px;
}
#dropDownMenu9{
left:725px;
}
#dropDownMenu10{
left:805px;
}
#dropDownMenu11{
left:885px;
}
#dropDownMenu12{
left:965px;
}
#dropDownMenu13{
left:1045px;
}
#dropDownMenu14{
left:1125px;
}

#dropDownMenu15{
left:1205px;
}

#dropDownMenu16{
left:1285px;
}

#dropDownMenu17{
left:1365px;
}

#dropDownMenu18{
left:1445px;
}

#dropDownMenu19{
left:1525px;
}

#dropDownMenu20{
left:1605px;
}
*/
