BODY {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none; MARGIN: 0px; PADDING: 0px;
}
TD {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
BUTTON {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
FORM {
	MARGIN: 0px; PADDING: 0px;
}
SELECT {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 100%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
OPTION {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
TEXTAREA {
	FONT-SIZE: 11px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
.menu1 {
	FONT-SIZE: 10px
}
A.menu1:link {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu1:visited {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu1:hover {
	DISPLAY: block; FONT-SIZE: 10px; BACKGROUND: #d6d6d7; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu1:active {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
.menu2 {
	FONT-SIZE: 10px
}
A.menu2:link {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu2:visited {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu2:hover {
	DISPLAY: block; FONT-SIZE: 10px; BACKGROUND: #c0c6d3; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu2:active {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
.menu3 {
	FONT-SIZE: 10px
}
A.menu3:link {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu3:visited {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu3:hover {
	DISPLAY: block; FONT-SIZE: 10px; BACKGROUND: #b4cdba; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
A.menu3:active {
	DISPLAY: block; FONT-SIZE: 10px; WIDTH: 100%; COLOR: #4a4949; HEIGHT: 100%; TEXT-DECORATION: none
}
.sidebar {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #4a4949; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.bodylink {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #4a4949; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.mainheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4a4949; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.bodyhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #4f6c9a; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.home {
	LINE-HEIGHT: 180%
}
.big {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 120%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
.small {
	FONT-SIZE: 10px; COLOR: #706f6f; LINE-HEIGHT: 120%; FONT-FAMILY: verdana, arial, helvetica, geneva
}
.white {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 120%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
.boldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4d4d4d; LINE-HEIGHT: 120%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: underline
}
A {
	COLOR: #4a4949; TEXT-DECORATION: underline
}
A:active {
	COLOR: #4a4949
}
A:hover {
	COLOR: #4a4949; TEXT-DECORATION: none
}
A:visited {
	COLOR: #4a4949
}
.brownrule {
	BORDER-RIGHT: #b68644 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b68644 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b68644 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #b68644 1px solid
}
.ruleleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b68644 1px solid; PADDING-TOP: 0px
}
.ruleright {
	BORDER-RIGHT: #b68644 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.error {
	FONT-SIZE: 10px; COLOR: #ac1212; LINE-HEIGHT: 120%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
.input {
	FONT-SIZE: 11px; COLOR: #5d5d5d; LINE-HEIGHT: 100%; FONT-FAMILY: verdana, arial, helvetica, geneva; TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
.footer {
	FONT-SIZE: 9px; COLOR: #7f7f7f; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.footer:link {
	FONT-SIZE: 9px; COLOR: #7f7f7f; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.footer:visited {
	FONT-SIZE: 9px; COLOR: #7f7f7f; LINE-HEIGHT: 130%; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
