body{margin:0;padding:0;}
.topMenu {
visibility:hidden;
}


.listInventoryTop{
visibility:hidden;
}

.Content {
position:absolute;
top:0;
left:0;
font:bold 12pt Times New Roman;

}

.SideMenu {
visibility:hidden;
}


.bottomMenu {
visibility:hidden;
}


.menuButtons{
display:none;
}

#searchOn{display:none;}

#genericTop{display:none;visibility:hidden;}

.homePageMenu{
position:absolute;
top:5%;
left:0%;
background-color:#b6c5e2;
/*border:2px solid pink;*/
width:100%;
padding:0;
margin:0;
z-index:1000;
height:3%;
display:none;
visibility:hidden;
}


#modules{
background-color:transparent;
position:absolute;
left:0%;
top:15%;
height:85%;
width:100%;
overflow:auto;
}

.dropDownMenu
{
/*background-color:transparent;*/
position:absolute;
display:inline;
width:80px;
text-align:center;
z-index:1001;
height:100%;
display:none;
visibility:hidden;
}


subMenu{
visibility:hidden;
display:block;
position:absolute;
width:100%;
height:100%
top:15px;
left:0;
border:1px solid black;
text-align:left;
z-index:1003;
}

.subLink
{
position:relative;
width:200px;
color:#000;
text-indent:2px;
background-color:#b6c5e2;
font-family: Verdana,Arial;
font-weight:bold;
text-decoration:none;
display:block;
height:15px;
border:1px solid black;
}

