/*This is the style sheet for the whole system.  If you want to define a 
/*cookie-defined color for the user just use the syntax cookie[n]  
/* Where n is the number that refers to the variable in the perl session_info array. */

/* NOTE!!!! IMPORTANT All lines that begin with /* will not be printed out */ 
body { 
background:#FFF; 
scrollbar-track-color:#FFF;
scrollbar-face-color:#EEE;
}
body, p { font-size: small; font-family: Verdana, sans-serif;}

.body_title{background-color:#fff;font-family:Verdana;font-weight:900;color:#000;}

.help_bubble
{
display:block;
font-weight:bold;
color:#000;
position:absolute;
width:auto;
border: 2px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100000;
/*Remove below line to remove shadow. Below line should always appear last
* within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

/* This is for the title secions when viewing an alert message */
.msgTitle
{
font-weight:bold;
}

/*this was causeing some problems somewhere so I abandoned it and made a sub class of td for the headers called .header */
th {background-color: #C3D0E8;font-family: Verdana;font-weight: bold;color:#000;}

.calendarHeader{background-color: #C3D0E8;font-family: Verdana;font-weight: bold;color:#000;}
.fax_header{background-color: #C3D0E8;font-family: Verdana,Arial;font-weight: bold;font-color:#ffffff;font-style:italic;}

.wb_header{color:#000; font-family: Verdana,Arial;font-weight:700;}

.mainHeader{background-color: #C3D0E8;font-family: Verdana,Arial;font-weight: bold;color:#000;}
.instruction{background-color:#fff;font-family:Verdana,Arial;font-weight:600;color:#000;}
/* This is the header for the main pages that you see when you enter */
.main_header{background-color: #C3D0E8; color: #000;font-family: Verdana,Arial; text-align:center;font-weight:bold;}

/*This is for small body headers as in the Search in generic.pl */

.body_header{background-color: #fff; color: #C3D0E8; font-family: Verdana,Arial;font-weight:bold;}

/* Below is the basic td table cell this makes up the bulk of the dat files */
td {background-color: #fff; color:#000; font-family: Verdana,Arial;font-weight: 500;}

.tborder {border-top: 0.01em outset white}
/* this is for table rows that you want to have a bottom border */
.bottomBorder{border-bottom: 1px solid #000}
.bottomBorder td {border-bottom: 1px solid #000}


/* This is for extra big headers, for instance the fax document header */
.big_header{background-color: #C3D0E8; color: #ffffff;font-family: Verdana;font-weight: 900; text-align:center;}

/*This is a warning for example if you dont' have permision to view something*/
.warning{color:#f00000;font-family: Verdana,Arial;font-weight: 900;}

/* This is for the items in a workbasket that are too old */
.wbWarn{color:#f00000;font-family: Verdana,Arial;font-weight: 900;}

#helpDiv{z-index:1000;position:absolute;background-color:silver;}

/* the .header class is for the tops of the forms */
.header {height:20px;background-color: #C3D0E8; color: #000; font-family: Verdana,Arial;font-weight:bold;}

/* This is for some of the headers that we don't want to be as high profile as
 * the .header class */
.simpleHeader{background-color:#fff; color:#000; font-family:Verdana,Arial;}


.small_header {background-color: #C3D0E8; color: #000; font-family: Verdana,Arial;text-align:center;}

.liner {background-color: #fff; border-bottom: 0.125em solid #C3D0E8;}

/* This is a side header for the fax system */
.side_header {background-color: #C3D0E8; color: #000; font-family: Verdana;font-weight: bold;}

/* This is for the calendar */
.Today{background-color: #C3D0E8; color: #fff; font-family: Verdana;}

/* The T1 class is for the headers of the inventory management system */
.T1 {background-color: #C3D0E8;color: #000; font-family:Verdana,Arial;text-align:center;font-weight:bold;}

/* The l1 class is a sub header for the inventory management system */
.l1 {background-color: #C3D0E8; color: #000; font-family: Verdana,Arial;font-weight:600;}

/* The menu class is for all of the menu tabs */
.menu {background-color: #C3D0E8; color:#ffffff;layer-background-color:#000;font-family:Verdana,sans-serif;font-weight:bold;}

/*This is for the menu links so we don't have to do it in javascript*/
.menuLink{
border:1px solid #000;
background-color:#EEE;
font-family:Verdana,Arial;
color:#000;
text-decoration:none;
font-weight:bold;
vertical-align:middle;
text-align:center;
width:10%;
}

.menuLink:hover{background-color:#FFF;color:#000;text-decoration:none;font-weight:bold;}

/* Sub menus*/
.subMenuLink{background-color: #EEE; color:#000;font-family:Verdana,sans-serif;font-weight:bold;vertical-align:top;}
.subMenuLink:hover{background-color:#FFF;color:#000;text-decoration:none;font-weight:bold;}

.menuLinkHelp{
border:1px solid #000;
background-color:#EEE;
font-family:Verdana,Arial;
color:#000;
text-align:center;
text-decoration:none;
font-weight:bold;
vertical-align:middle;
width:10%;
}
.menuLinkHelp:hover{background-color:#FFF;color:#000;text-decoration:none;font-weight:bold;cursor:help;}


.helpHeader{color:#000;font-family:Verdana,sans-serif;font-weight:bold;text-decoration:underline;}
.helpHeader:hover{background-color:#2c577d; color:#ffffff;}



/*This is for the menu links so we don't have to do it in javascript*/
.disabledMenuLink{background-color: #C3D0E8; color:gray;font-family:Verdana,sans-serif;font-weight:bold;vertical-align:top;}
.disabledMenuLink:hover{background-color:#000;color:gray;text-decoration:none;font-weight:bold;}

.menuHeading, .subHeading{background-color: #fff; color:#C3D0E8;font-family:Verdana,sans-serif;font-weight:bold;vertical-align:top;text-decoration: none;}


.menuBottom {background-color: #C3D0E8; color:#ffffff;layer-background-color:#000;font-family:Verdana,Arial;text-align:center;}

.menuTitle{background-color: #C3D0E8; color:#ffffff;font-family:Verdana,sans-serif;font-weight:bold;vertical-align:top;}


.sideMenu h1{color:#ffffff;font-family:Verdana,sans-serif;font-weight:bold;vertical-align:top;display:block;}

/*This is for the users preferences color boxes */
.colorPref{position:absolute; visibility:visible;width:20px;height:16px;background-color:#ffffff;border: 2px solid #000000;}

/* This isn't used yet but it is just in case you want some white space */
.white {background-color:#EEE;color:#000;font-family: Verdana,Arial;font-weight: 500;}
/* this is so you can set an entire row instead of each individual cell */
.white td{background-color:#EEE;color:#000;font-family: Verdana,Arial;font-weight: 500;}

.normalTd{background-color: #fff; color:#000000; font-family: Verdana,Arial;font-weight: 500;}

.workbasketBottom{background-color:#000;color:#ffffff;}

tr{background-color: #ffffff;}
input{font-family: Verdana;font-weight: 500;border:1px solid #e0e0e0;}
textarea{font-family: Verdana;font-weight: 500;border:1px solid #e0e0e0;}
select{font-family: Verdana;font-weight: 500;border:1px solid #e0e0e0;}

.a{color:#000; font-family: Verdana,Arial;font-weight:700;text-decoration:underline;}
.a:hover {background-color:#000;color:#ffffff; text-decoration: underline }
/*
a{color: #C3D0E8; font-family: Verdana,Arial;font-weight:700;text-decoration: none;}
a:hover { background-color:#ffffff;color:#000; text-decoration: underline;}
a:active { color:#ff3333 text-decoration: none;}
*/

.a_sort {background-color:#fff; color:#000; font-family:Verdana; font-weight:700; text-decoration:underline;}
.a_sort:hover {background-color:#000; color:#fff;}

.clearHeaderInput{border:0;background-color: transparent; color:#fff; font-family: Verdana,Arial;font-weight:bold ;}
.clearInput{border:0;background-color: transparent; color:#000000; font-family: Verdana,Arial;font-weight: 500;}
.clearInputNumber{text-align:right;border:0;background-color: transparent; color:#000000; font-family: Verdana,Arial;font-weight: 500;}
.clearHeaderInputNumber{text-align:right; border:0; background-color: transparent; color:#000000; font-family: Verdana,Arial; font-size:x-small; font-weight:bold;}
.clearNegativeNumber{text-align:right;border:0;background-color: transparent; color:Red; font-family: Verdana,Arial;font-weight: 500;}


.button{
background-color:#EEE;
font-family:Verdana,Arial; 
border-color:#000;
color:#000;
text-decoration:none;
font-weight:bold;
vertical-align:bottom;
}

.textButton{
font-family:Verdana,Arial;
/*color:#0048AA;*/
color:#000;
text-decoration:none;
border:1px solid #000;
font-weight:bold;
vertical-align:middle;
padding-right:1px;
padding-left:1px;
margin:1px;
/*background-color:#cce6ff;*/
background-color:#EEE;
}

.textButton:hover {
background-color:#fff;
text-decoration:none;
}

.textButtonHeader{
font-family:Verdana,Arial;
color:#000;
text-decoration:none;
border:1px solid #000;
font-weight:bold;
vertical-align:middle;
padding-right:1px;
padding-left:1px;
margin:1px;
background-color:#EEE;
}

.textButtonHeader:hover {
border-color:#000;
color:#000;
background-color:#FFF;
text-decoration:none;
}





/*
#button1{left:100px;bottom:0%;}
#button2{left:204px;bottom:0%;}
#button3{left:308px;bottom:0%;}
#button4{left:412px;bottom:0%;}
#button5{left:516px;bottom:0%;}
#button6{left:620px;bottom:0%;}
*/
/*
#actInfo{left:100px;bottom:0%;}
#actLayo{left:204px;bottom:0%;}
#actAvlb{left:308px;bottom:0%;}
#actLang{left:412px;bottom:0%;}
#actSkil{left:516px;bottom:0%;}
#actPref{left:620px;bottom:0%;}

#cntCont{left:100px;bottom:0%;}
#cntNote{left:204px;bottom:0%;}
*/

.menuTab,.menuTabLive,.menuTabLight
{
bottom:0%;
left:5%;
width:auto;
height:100%;
border-top:2px groove #C3D0E8; 
border-left:2px groove #C3D0E8;
border-right:2px groove #C3D0E8;
position:relative;
text-align:center;
font-weight:bold;
font-family:Verdana;
cursor:pointer;
z-index:100;
display:inline;
margin-right:5px;
padding-right:6px;
padding-left:6px;
margin-bottom:0;
/*
padding-top:3px;
padding-bottom:6px;
*/
}

.menuTab {
background-color:#0048AA;
color:#fff;
}

.menuTabLive{
background-color:#fff;
color:#000;
}

.menuTabLight{
background-color:#fff;
color:#000;
}

.menuBar{position:relative;width:0%;top:0;height:0%;background-color:transparent;display:none;}

.navButton{
background-color:#EEE;
font-family:Verdana,Arial; 
border-color:#000;
color:#000;
text-decoration:none;
font-weight:bold;
vertical-align:bottom;
}



/* We have at least two types of anchor tags in our system 1. ones in the body of the form and 2. ones in the headers.  The a_body tags are set to the dark color and the a_header tags are set to the light color.  If you need a new type of anchor tag just make a new class */
.a_body{color:#000; font-family: Verdana,Arial;font-weight:700;text-decoration:underline;}
.a_body:hover {background-color:#000;color:#ffffff; text-decoration: underline }

.a_title{background-color:#ffffff; color:#000000; font-family: Verdana,Arial; font-weight:bold; font-size:8pt; text-decoration:underline;}
.a_title:hover {background-color:#000000; color:#ffffff; font-family: Verdana,Arial; font-size:8pt; text-decoration:underline;}

.smallCal{color:#000; font-weight:700;font-family: Verdana,Arial;text-decoration:underline;}
.smallCal:hover {background-color:#000;color:#ffffff; text-decoration: underline }


.a_header{color:#0048AA; font-family: Verdana,Arial;font-weight:700;text-decoration:underline;}

.a_header:hover {background-color:#fff;color:#0048AA;text-decoration: underline }


/* This is the hyper links in the main menu....the first page */
.a_main{color:#000; font-family: Verdana,Arial;font-weight:700;text-decoration:none;display:block;text-indent:2em;}
.a_main:hover{background:#C3D0E8 url('/work/pics/on.gif') center left no-repeat;color:#ffffff;text-decoration:none;}

.body_main{color:#000; font-family: Verdana,Arial;font-weight:700;text-decoration:none;}

/*This is for notes to the user that need to stand out from the rest of the writing */
.note{color:#000; font-family: Verdana; font-style:italic;font-weight:bold;}
.headerNote{height:25px;color:#ffffff; font-family: Verdana; font-style:italic;font-weight:bold;}

/* this is a font class that was made for the fax documents */
.lstf {color: #000000; font-family: Verdana; font-weight:500;}


/* this is for lists in the system */

li{color:#000; font-family: Verdana; font-style:italic;list-style-type:disc; font-weight:bold;}

.a_help{color:#fff; font-family: Verdana,Arial;font-weight:700;text-decoration:underline;}
.a_help:hover{background-color:#ffffff;color:#000;text-decoration: underline;cursor:help;}

.b_help{color:#000; font-family:Verdana,Arial; font-weight:700; text-decoration:underline;}
.b_help:hover{background-color:#000;color:#ffffff;text-decoration: underline;cursor:help;}

#contentAlone{
/*background:#fff url('/work/pics/talaria_logo_fadded.gif') top right
 * no-repeat;*/
overflow: auto;
position:absolute;
top:0;
left:0;
right:0;
width:100%;
height:100%;
}



#actorPassSideMenu .menuHeading
{
color:#f00000;
width:100%;
left:35%;
text-align:center;
display:block;
}
