.instruction{font-size:8pt;}
.body_title{font-size: 8pt;}
TH {font-size: 10pt;}
.calendarHeader{font-size:10pt;}
.fax_header{font-size: 9pt;}
.wb_header{font-size: 6pt;}
.mainHeader{font-size: 8pt;}
.main_header{font-size: 8pt;}
.body_header{font-size: 8pt;}
TD {font-size: 7pt;}
.help_bubble{font-size: 7pt;}
.Today{font-size: 7pt;}
.big_header{font-size: 11pt;}
.warning{font-size:11pt;}
.wbWarn{font-size:7pt;}
.header {font-size: 8pt;}
.simpleHeader{font-size: 8pt;}
.clearHeaderInput{font-size: 8pt;}
.small_header {font-size:7pt;}
.side_header {font-size:10pt;}
.T1 {font-size: 10pt;}
.menuHeading {font-size:9pt;}
.subHeading {font-size: 8pt;}
.subMenuLink{font-size:8pt}
.l1 {font-size: 8pt;}
.menu {font-size:10pt;}
.menuTitle h1{font-size:9pt;}
.menuTitle h2{font-size:8pt;}
.menuLink{font-size:7pt;}
.menuLinkHelp{font-size:7pt;}
.helpHeader{font-size:9pt;}
.menuTabLive {font-size:10pt;}
.menuTab {font-size:9pt;}
.menuTabLight {font-size:9pt;}
.menuBottom {font-size:9pt;}
.sideMenu h1{font-size:9pt;}
.order_type{font-size:8pt;}
INPUT {font-size: 7pt;}
SELECT {font-size: 7pt;}
TEXTAREA{font-size: 7pt;}
A {font-size:7pt;}
.button{font-size:9pt;}
.navButton{font-size:9pt;}
.a_body{font-size: 7pt;}
.textButton{font-size:7pt;}
.smallCal{font-size: 7pt;}
.a_header{font-size:7pt;}
.a_title{font-size:8pt;}
.a_main{font-size: 7pt;}
.body_main{font-size: 7pt;}
.note{font-size: 7pt;}
.headerNote{font-size: 7pt;}
.lstf {font-size: 6pt;}
LI{font-size: 7pt;}
.a_help{font-size: 7pt;}
.b_help{font-size:7pt;}

.mainTitle{font-size:11pt;}
.welcome{font-size:7pt;}
.dropDownHeader{font-size:10pt;}
.dropDownHeaderOver{font-size:10pt;}
.subMenuHeader{font-size:7pt;}
.subMenuHeaderOver{font-size:7pt;}
.subLink{font-size:7pt;}
.a_dropDown{font-size:10pt;}
.msgTitle{font-size:9pt;}
