/* HAWHAW skin stylesheet for SL55 phone */

body {
  background-color: #FFFFFF;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#skin {
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  width: 262px;
  height: 446px;
  background-image: url(http://www.banqpay.com/zetapay/images/mobile/sl55.jpg);
}

#display {
  position: relative;
  top: 132px;
  left: 48px;
  width: 163px;
  height: 127px;
  overflow: auto;
}