body{
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 9pt;
	background-color: f6f6f6;
	color: #000000;
}

.menulink{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #5687AF;
	text-decoration: none;
}

a{
	font-size: 11px font-family;
	font-weight: bold;
	color: #5687AF;
	text-decoration: none;
}

a:hover{
	color: #CBE301;
	text-decoration: underline;
}

a:active{
	text-decoration: underline;
	color: #000066;
}

.componentHeading{
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
}

.button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.articlehead{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #61758F;
	letter-spacing: 1px;
}

.inputbox{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-color: #666666;
	bacground: #FFFFFF;
	border: 1px solid;
}

.bold{
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}

.smalldark{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

.small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight: medium;
}

.newsarticle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
}

td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.poll{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	line-height: 14px;
}

.articleheadWhite{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

.whitetext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
}

.text5{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #61758F;
	letter-spacing: 1px;
}

.text4{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #61758F;
	letter-spacing: 1px;
}

h1{
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #999999;
}



.medium{
	font-size: 11pt;
	font-weight: 600;
}

medium{
	font-size: 11pt;
	font-weight: 600;
}

.large{
	font-size: 15pt;
}

big{
	font-size: 15pt;
}

.tiny{
	font-size: 7pt;
}

.error{
	color: #FF0000;
}

.highlight{
	background-color: #EEEEEE;
}

.leftside{
	background-color: #f6f6f6;
	border-right: #000000 1px solid;
}

.rightside{
	background-color: #f6f6f6;
	border-left: 1px dashed;
}

table.design{
	background-color: #EEEEEE;
	border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border: 1px solid #C8C8C8;
	padding: 0px;
	margin: 0px;
}

table.design td{
	font-size: 11px;
	color: #4A4A4A;
	padding: 0px 6px 6px;
}

table.design th{
	font-size: 12px;
	font-weight: bold;
	background-color: #006699;
	color: #FFFFFF;
	border: 1px #C8C8C8 solid;
	border-right-width: 0px;
	border-left-width: 0px;
}

td.row1{
	background-color: #EFEFEF;
}

td.row2{
	background-color: #F8F8F8;
}

td.copy{
	background-color: #000000;
}

table.empty{
	background-color: #FFFFFF;
}

table.empty td{
	border: none;
	padding: 0px;
	background-color: #FFFFFF;
}

input{
	font-family: Verdana,Arial,Helvetica;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #444444;
	border: #444444 1px solid;
}

textarea{
	font-family: Verdana,Arial,Helvetica;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #444444;
	border: #444444 1px solid;
}

select{
	font-family: Verdana,Arial,Helvetica;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #444444;
	border: #444444 1px solid;
}

input.checkbox{
	border: none;
	background: auto;
}

input.radio{
	border: none;
	background: auto;
}

input.button{
	border: #444444 1px solid;
	background-color: #EEEEEE;
	cursor: hand;
}

.open{
	color: #009000;
}

.frozen{
	color: #000000;
}

.closed{
	color: #900000;
}

.plus{
	color: #00A000;
}

.minus{
	color: #FF0000;
}

.balance_border{
	border-top: thin solid #c0c0c0;
	border-right: thin solid #c0c0c0;
	border-bottom: thin solid #c0c0c0;
	border-left: thin solid #c0c0c0;
}

.topside{
	background-color: #f6f6f6;
}

.topbar{
	background-color: #668CB1;
	border-bottom: #FFFFFF 1px solid;
}

.titlebar{
	background-color: #668CB1;
	border-bottom: #FFFFFF 1px solid;
}

.activebutton{
	font-weight: bold;
	padding: 4px 6px;
	color: #FFFFFF;
	background-color: #666666;
	border: #FFFFFF 1px solid;
	border-bottom: #FFFFFF 0px solid;
}

.inactivebutton{
	font-weight: bold;
	padding: 4px 6px;
	color: #FFFFFF;
	background-color: #006699;
	border: #FFFFFF 1px solid;
}

.tabArea{
	font: 11px/15px Verdana, Tahoma, Georgia;
	font-weight: bold;
}

.tab{
	background-color: #f0f0f0;
	border: 1px solid #000000;
	border-bottom-width: 0px;
	padding: 2px 1em 2px 1em;
	position: relative;
	text-decoration: none;
	top: -1px;
	z-index: 100;
}

.activeTab{
	color: #FFFFFF;
	background-color: #CCCCCC;
	border: 1px solid #000000;
	border-bottom-width: 0px;
	padding: 2px 1em 2px 1em;
	position: relative;
	text-decoration: none;
	top: -1px;
	z-index: 100;
}

.tab:hover{
	background-color: #006699;
}

.activeTab:hover{
	background-color: #CCCCCC;
	color: #000000;
}

.activeTab:visited{
	background-color: #CCCCCC;
	color: #000000;
}

.tabMain{
	background-color: #c0c0c0;
	border: 1px solid #000000;
	padding: 8px;
	position: relative;
	z-index: 101;
}

.tabIframeWrapper{
	width: 100%;
}

.tabContent{
	background-color: #c0c0c0;
	border: 1px solid #000000;
	width: 100%;
}

.menuBar{
	background-color: #0A6184;
}

