/*
#18a689
*/

.c-primary {color: #18a689;}
::-moz-selection{color:#fff;background:#18a689}
::selection{color:#fff;background:#18a689}
.nicescroll-cursors{background-color:#18a689!important}

.topnav.fixed-topnav .section {background: rgba(23, 159, 132,0.9);-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);-o-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);}
.topnav.fixed-topnav li.current a, .topnav.fixed-topnav ul.nav > li > a:hover {color: #000!important;}
h2, h3 {color: #18a689;}
.bg-primary:not(i), i.bg-primary::before, .bg-primary.form-control:focus {background-color: #18a689;}
.bg-primary h2, .bg-primary h3 {color:#000;}
.work-filter ul li a:hover, .work-filter ul li a.active {background-color: #18a689;}
.overlay {background-color: rgba(24, 166, 137,.9);}
.map-container #full-map .pulse-label{-webkit-animation:pulse 1.5s infinite;background:rgba(24, 166, 137,0.5);}