/*
#D05353
#C0392B
*/

.c-primary {color: #D05353;}
::-moz-selection{color:#fff;background:#D05353}
::selection{color:#fff;background:#D05353}
.nicescroll-cursors{background-color:#D35050!important}
.topnav.fixed-topnav .section {background: rgba(213, 96, 96,0.9);-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);-o-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);}
.topnav.fixed-topnav li.current a, .topnav.fixed-topnav ul.nav > li > a:hover {color: #000!important;}
h2, h3 {color: #D05353;}
.bg-primary:not(i), i.bg-primary::before, .bg-primary.form-control:focus {background-color: #D05353;}
.bg-primary h2, .bg-primary h3 {color:#000;}
.work-filter ul li a:hover, .work-filter ul li a.active {background-color: #D05353;}
.overlay {background-color: rgba(208, 83, 83,.9);}
.map-container #full-map .pulse-label{-webkit-animation:pulse 1.5s infinite;background:rgba(231, 76, 60,0.5);}