body {
    background-color: #E9EAED;
}
select {
    border: 1px solid #222222;
    background: #666666;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
    outline: none;
}
#config {
    margin-bottom: 20px;
}
#timeline.demo5 {
    width: 600px;
    margin: 0px auto;
}
#menu {
    position: fixed;
    right: 20px;
    top: 10px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #BBBBBB;
}
#menu div {
    border-left: 5px solid #CCCCCC;
    margin-bottom: 2px;
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
#menu div:hover {
    border-left: 5px solid #AAAAAA;
    color: #666666;
    text-decoration: underline;
}
#menu div.loaded {
    border-left: 5px solid #AAAAAA;
    color: #666666;
    text-decoration: none;
}
#loadmore {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
    margin: 10px auto;
    width: 100px;
    background: red;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    background: #D84A38;
    background: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background: -moz-linear-gradient(top, #dd4b39, #d14836);
    background: -ms-linear-gradient(top, #dd4b39, #d14836);
    background: -o-linear-gradient(top ,#dd4b39, #d14836);
    background: linear-gradient(top, #dd4b39, #d14836);
}
#loadmore:hover {
    background: #CC3524;
    background: -webkit-linear-gradient(top, #d14836, #dd4b39);
    background: -moz-linear-gradient(top, #d14836, #dd4b39);
    background: -ms-linear-gradient(top, #d14836, #dd4b39);
    background: -o-linear-gradient(top, #d14836, #dd4b39);
    background: -linear-gradient(top, #d14836, #dd4b39);
}
#loadmore:active {;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) inset;
}
#loadmore.loading {
    cursor: default;
    color:  #AAAAAA;
    text-shadow: 0px 1px 1px #FFFFFF;
    box-shadow: none;
    background-size: 40px 40px;
    background-color: #DEDEDE;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-animation: loading 1s linear infinite;
       -moz-animation: loading 1s linear infinite;
        -ms-animation: loading 1s linear infinite;
         -o-animation: loading 1s linear infinite;
            animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-moz-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-ms-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-o-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@media screen and (max-width: 600px) {
    #timeline.demo5 {
        width: 100%;
    }
}
@media screen and (orientation:portrait) {
    #timeline.demo5 {
        width: 100%;
    }
}