#post_comment {background-color:#FFFF99;border:1px solid #000000;padding:10px 30px;}
.login {border-bottom:1px solid #000000;padding-bottom:10px;}
label {display:block;margin-top:10px;}/* CSS Document */

