.tooltip {
  visibility: hidden;
  position: absolute;
  width: 240px;
  background-color: #ffffea;
  border: 1px solid black;
  color: #043655;
  padding: 2px;
  font-size: 12px;
  margin: 0em;
}

.tooltip h1 {
  height: auto;
  padding: 3px;
  background-color: #07649e;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.tooltip p {
  padding: 2px;
  margin-top: 0.5em;
  line-height: 1.2em;
  font-weight: normal;
}

.tooltip li {
  padding: 2px;
  margin-top: 0.5em;
  line-height: 1.2em;
  font-weight: normal;
}

.tooltip p.close {
  font-weight: bold;
}
.tooltip a.close {
}
