 A:link {color: blue;text-decoration: none} 
 A:active {color: blue;text-decoration: none} 
 A:visited {color: blue;text-decoration: none} 
 A:hover {color: red;text-decoration: underline}
 html, body {margin-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;background-color: #FFFFFF;color:black; height: 100%; width: 100%;}
 hr {width: 100%;height: 1pt;min-height: 1pt;color:#CCCCCC}
.spacer {height: 1px;min-height: 1px;background-color: #CCCCCC}
.td_top {font-family:Verdana;vertical-align: bottom;text-align:right;background-color: #FFFFFF;font-size:7pt;white-space: nowrap}
.div_top_menu {line-height: 25px;height: 25px;min-height: 25px; white-space: nowrap;width: 100%;cursor: pointer;color:white;font-family:Verdana, Arial, Helvetica, sans-serif;background-color: #0066AA;vertical-align: middle;font-size:8pt;background-image: url(images/div_top_menu.gif);background-repeat: repeat;border-top: 1px solid black}
.span_top_menu_standard {font-weight:bold;text-align: center;line-height: 25px;padding-right: 10px;padding-left: 10px;border-left: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB} 
.span_top_menu_over {color:yellow;font-weight:bold;text-align: center;line-height: 25px;background-color: #005CFF;height: 25px;min-height: 25px;padding-right: 10px;padding-left: 10px;border-left: 1px solid black;border-right: 1px solid black}
.span_top_menu_selected {color:yellow;font-weight:bold;text-align: center;line-height: 25px;height: 25px;min-height: 25px;background-color: #000099;background-image: url(images/div_select_menu.gif);background-repeat: repeat;padding-right: 10px;padding-left: 10px;border-left: 1px solid black;border-right: 1px solid black}
.div_top_menu_foot {white-space: nowrap;height: 5px;min-height: 5px;width: 100%; background-color: #FC0000; font-size: 1px}
.div_sub_menu {white-space: nowrap;padding-top:2pt;font-family:Verdana;font-size:7pt;color: #333333;height: 20px;min-height: 20px;width: 100%;background-color: #DCE9F0;vertical-align: middle;border-top: 1px solid black;border-bottom: 1px solid #CCCCCC}
.menu_table_parent {vertical-align:top;background-color: #CCDDDD;border-right: 1px solid #DDDDDD;height: 100%;min-height: 100%} 
.menu_table_container {margin-left:5px;margin-right:5px;margin-top:5px} 
.menu_table {background-color: #FFFFFF;padding: 3px;position: relative;	font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;border-right: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC}
.menu_table td{white-space: nowrap; color:#555555} .td{background-color: #F7FBFC;white-space: nowrap} .td_alt{background-color: #EEEEEE;white-space: nowrap} .td_over{background-color: #EEEEEE;cursor: auto;white-space: nowrap}
.menu_table A:link {color: #157DD3;text-decoration: none} 
.menu_table A:active {color: #157DD3;text-decoration: none} 
.menu_table A:visited {color: #157DD3;text-decoration: none} 
.menu_table A:hover {color: #000000;text-decoration: underline}
.menu_table_title {font-weight:bold;line-height: 20px;background-image: url(images/headerbar.gif);background-repeat: repeat;color:#157DD3}
.main_table {padding-right: 10px;padding-left: 10px;padding-top:10px;vertical-align: top;height: 100%;min-height: 100%;width: 100%}
.index_page_table H1 {font-family:Arial; font-size:16pt; color: #157DD3} 
.index_page_table .subtitle {font-family:Arial; font-size:12pt; color: #157DD3;font-weight:bold} 
.index_page_table td {font-family:Verdana;vertical-align: bottom;font-size:8pt}
.index_page_table li {font-family: Verdana;font-size: 8pt;font-style: normal;color: #000000;list-style-type: square}
.module_page_table H1 {font-family:Arial;font-size:16pt;color: #157DD3} 
.menuCal {float: left;margin-left: 1px;margin-bottom: 0em;margin-top: 0em;margin-right: 1px;width: 98%}
#div_breadcrumbs {font-family:Arial;color: #000000;vertical-align: middle;height: 20px;min-height: 20px;font-size:8pt}
#div_breadcrumbs A:link {color: #000000;text-decoration: none} 
#div_breadcrumbs A:active {color: #000000;text-decoration: none} 
#div_breadcrumbs A:visited {color: #000000;text-decoration: none} 
#div_breadcrumbs A:hover {color: #000000;text-decoration: underline}
#div_messages_info {background-color: #F7FBFC;	border: 1px solid #99CCCC; text-indent: 5pt;}
#div_messages_warning {background-color: #F7FBFC;	border: 1px solid orange; text-indent: 5pt}
#div_messages_error {background-color: #F7FBFC;	border: 1px solid red;	text-indent: 5pt}
#div_messages_success {background-color: #F7FBFC;	border: 1px solid green;	text-indent: 5pt}
#div_messages_forbidden {background-color: #F7FBFC;	border: 1px solid red;	text-indent: 5pt}
#table_messages {	padding: 0px; spacing:0px;	font-family:Arial;	font-size:8pt;	vertical-align: middle}
#warning {color:red}
#error {color:red}
#forbidden {color:red}
#success {color:green}
#info {color:#000000}
#field_required {color:red}
#field_textarea {vertical-align: top}
#norecord {color:red;font-weight:bold;	font-family:Verdana, Arial, Helvetica, sans-serif;	font-size:8pt}
#report_total {color:#FFFFFF;font-weight:bold;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;background-color: blue}
#nohelp {color:red;font-weight:bold;	font-family:Verdana, Arial, Helvetica, sans-serif;	font-size:8pt}
#subtitle {margin-left: 0}
#source {color:green}
#email_source {color:green}
#share_user_source {color:green}
#target {color:blue}
#email_target {color:blue}
#share_user_target {color:blue}
#allowed {color:blue}
#denied {color:red}
#admin {font-family:arial;font-size:8pt}
#project {font-family:arial;font-size:8pt}
#timesheet {font-family:arial;font-size:8pt}
#current_role {color:blue}
#available_role {color:green}
#notes-table {border: 1px solid #CCCCCC;width: 500px;font-family:Arial;font-size:8pt;color:black}
#notes-title {line-height: 20px;height: 20px;min-height: 20px;font-family:Arial;font-weight:bold;font-size:8pt;color:#157DD3}
#notes-area {margin-left:12px; margin-right:12px; margin-bottom:10px}
#log-table {border: 1px solid #CCCCCC;width: 10px;font-family:Arial;font-size:8pt;color:black}
#log-title {line-height: 10px;height: 10px;min-height: 10px;font-family:Arial;font-weight:bold;font-size:8pt;color:#157DD3}
#log-area {margin-left:12px; margin-right:12px; margin-bottom:10px}
#dhtmltooltip{font-family: verdana;font-size: 8pt;position: absolute;width: 150px;border: 2px solid black;padding: 2px;background-color: lightyellow;visibility: hidden;z-index: 100;filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135)}
#foldheader{font: bold 11px Verdana}
#legendApprove{	font: bold 14px Verdana; cursor: auto}
#th_slim{
	text-align:left;
	cursor: auto;
	color: white;
	font-family: verdana;
	font-weight: bold;
	font-size: 8pt;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-image: url(images/div_top_menu.gif)}

/* THIS ONE FOR THE QUICKLINKS */
	#tablist{
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	color: #CCCCCC;
	font: bold 11px Verdana}
	
	#tablist li{
	list-style: none;
	display: inline;
	margin: 0}
	
	#tablist li span{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #99CCCC;
	border-bottom:none;
	background: #FFFFEE;
	cursor: pointer}
	
	#tablist li span.current{
	background: #F7FBFC;
	border-bottom:none;
	color: #000000}
	
	#tabcontentcontainer{
	/* Insert Optional Height definition here to give all the content a unified height */
	padding: 5px;
	border: 1px solid #99CCCC;
	font: 11px Verdana;
	color: #000000}

	.tabcontent{
	display:none;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px}

	.tabcontent H1{
	font: bold 12px Verdana;
	color: #000000}
	.tabcontent fieldset{
	border: 0px solid #CCCCCC;
	padding: 5px}
	.tabcontent legend{
	font: bold 11px Verdana;
	cursor: auto}
	.tabcontent legend .textbox{border: 1px #808080 solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
	.tabcontent fieldset div{
	margin-top:5px;
	margin-left:10px;
	margin-right:10px}
	.tabcontent span{
	margin-top:5px;
	margin-left:15px;
	margin-right:10px}
	.tabcontent fieldset div table{
	font: 8pt Verdana;
	color: #000000;
	border: 1px solid #000000;
	border-collapse: collapse;
	text-indent: 5px;
	white-space: nowrap}
	.tabcontent fieldset table{
	text-align:left;
	font: 8pt Verdana;
	color: #000000;
	border: 0px solid #000000;
	white-space: nowrap}
	.tabcontent fieldset div table th{
	text-align:left;
	cursor: auto;
	color: white;
	font-family: verdana;
	font-weight: bold;
	font-size: 8pt;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-image: url(images/div_top_menu.gif);
	height: 25pt;
	min-height: 25pt}

.loading {margin-top: 20px;line-height: 15px;font-family:Arial;font-weight:bold;font-size:9pt}
.tabcontent fieldset div table .fieldselect{text-align:center;cursor: auto;color: white;font-family: verdana;font-weight: bold;font-size: 8pt;border-top: 1px solid #808080;border-bottom: 1px solid #808080;line-height: 20pt;background-image: url(images/div_top_menu.gif)}
.tabcontent fieldset div li {line-height: 15px;list-style-type: square}
.tabcontent fieldset div table .td  {height:18pt; min-height:18pt; line-height: 12pt}
.tabcontent fieldset div table .td_alt {height:18pt; min-height:18pt; line-height: 12pt;background-color: #EEEEEE}
.tabcontent fieldset div table .td_over {height:18pt; min-height:18pt; line-height: 12pt;background-color: lightyellow}
.tabcontent fieldset div table .no-border {border: 0px solid}
.tabcontent fieldset div .no-border {border: 0px solid}
.tabcontent fieldset div table .bold {font-weight: bold}
.tabcontent fieldset div table .textbox {border: 1px #808080 solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
.tabcontent fieldset div .textbox {border: 1px #808080 solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
.tabcontent fieldset table div{	margin-top:0px;	margin-left:0px;	margin-right:0px}
.tabcontent div .buttons, .tabcontent span .buttons {border: 1px #000000 solid;cursor: auto;color:white;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #0066AA}
.tabcontent div .buttons_over, .tabcontent span .buttons_over {border: 1px #000000 solid;cursor: auto;color:black;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #FFCC00}
.tabcontent div .buttons_warn, .tabcontent span .buttons_warn {border: 1px #000000 solid;cursor: auto;color:white;font-family:Arial;font-weight:bold;font-size:9pt;background-color: red}

.buttons_foot {border: 1px #000000 solid;cursor: auto;color:black;font-family:Arial;font-weight:bold;font-size:8pt;background-color: #CCCCCC}
.buttons_foot_over {border: 1px #000000 solid;cursor: auto;color:black;font-family:Arial;font-weight:bold;font-size:8pt;background-color: #FFCC00}
.buttons_foot_warn {border: 1px #000000 solid;cursor: auto;color:red;font-family:Arial;font-weight:bold;font-size:8pt;background-color: #CCCCCC}

.buttons_over {border: 1px #000000 solid;cursor: auto;color:black;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #FFCC00}
.buttons {border: 1px #000000 solid;cursor: auto;color:white;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #0066AA}

.showstate{ /*Definition for state toggling image */
cursor:auto;
cursor:pointer;
float: right;
margin-top: 2px;
margin-right: 3px}

.switchcontent{
border: 0px solid black;
border-top-width: 0}
.searchmode{
	color:red;
	font-weight:bold;
	font-variant: normal;
	text-transform: uppercase}
.listingmode{
	color:black;
	font-weight:normal;
	font-variant: normal;
	text-transform: none}
.required{color:red}

/* THIS PART FOR TIMESHEET */
#offday_title {color: red;font-family: verdana;font-weight: bold;font-size: 8pt}
#comment_title {color: #157DD3;font-family: verdana;font-weight: bold;font-size: 8pt;background-color:transparent}
.comment_box {cursor: text; font-family: verdana;	font-size: 8pt;	border: 1px #000000 solid;	background-color:transparent}
.offday_textbox{border: 1px #808080 solid;color: red;font-family: verdana;font-size: 8pt;background-color: #E8EEFF}
.offday_textbox_reject{border: 1px red solid;color: black;font-family: verdana;font-size: 8pt;background-color: #E8EEFF}
.textbox_reject{border: 1px red solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
.reject {color: red}
.daily_total{border: 1px #808080;color: #003366; font-family: verdana;font-weight: bold;font-size: 8pt;border-bottom-style: double;background-color:transparent}
.grand_total{border: 0px #808080;color: #003366; color:white; font-family: verdana;font-weight: bold; font-size: 8pt;background-color:blue}
#executing {color: red;}

/*CALENDAR CSS*/
#calendarTable{}
#calendarTitle{text-align: center;font-size=14px;white-space: nowrap}
#calendarDayTitle{font-weight:bold;height:40px;color:#157DD3;vertical-align: middle;text-align:center;font-size:12px;background-color:#EBECFF;white-space: nowrap}
#calendarDay{vertical-align: top;height:70px;font-weight:bold;white-space: nowrap}
#calendarToday{vertical-align: top;height:70px;font-weight:bold;background-color:lightyellow;;white-space: nowrap}
#calendarNoday{background-color:#EEEEEE;white-space: nowrap}
#calendarEvent{overflow:hidden;font-weight:normal;font-size=7pt;white-space: nowrap;}
#calendarDelete{font-weight:normal;color:red;white-space: nowrap}