a, A:link, a:visited, a:active
	{color: #0000aa; text-decoration: none;}
A:hover
	{color: #ff0000;}
body, td, th
	{color: #000000; font-family: Tahoma, Verdana; font-size: 11px;}

table.listTab
	{border: 0; background-color: #a0a0a0; width: 100%; }
th.tabHead
	{background-color: #d0d0d0; padding: 6px;}
th.colHead
	{background-color: #e0e0e0; padding: 4px;}
th.tabBott
	{background-color: #d0d0d0; padding: 2px;}
	
td.propName
	{background-color: #f0f0f0; padding: 4px; white-space: nowrap; padding: 4px; width: 140px; font-weight: bold; vertical-align: top;}
td.propValue
	{background-color: white; padding: 1px;}
td.propLitem
	{background-color: white; padding: 4px;}
td.propActions
	{background-color: #f0f0f0; padding: 4px; white-space: nowrap; width: 1%;}

td.propFname
	{background-color: #f0f0f0; padding: 4px; white-space: padding: 4px; font-weight: bold;}
td.propFeature
	{background-color: white; padding: 3px;}
td.propFeature ul
	{margin:  0 0 10px 20px;}

td.propDescr
	{background-color: white; padding: 4px 10px 20px 30px;}
td.propSect
	{background-color: #f0f0f0; padding: 6px; white-space: nowrap; width: 60px; font-weight: bold; vertical-align: top;}
td.menuElem
	{background-color: #f0f0f0; padding: 6px; white-space: nowrap; width: 120px; font-weight: bold; vertical-align: top;}
	
td.tabLev1
	{ background-image: url(images/tab_bgtop.gif); height: 24px; text-align: center; font-weight: bold; color: white; }
td.tabLev2
	{ background-image: url(images/tab_bgbottom.gif); text-align: center; font-weight: bold; cursor: hand; }
td.tabLev2dis
	{ background-image: url(images/tab_bgbottom.gif); text-align: center; font-weight: bold; cursor: hand; color: #A0A0A0;}
td.tabHL
	{ background-image: url(images/tab_bgtop.gif); text-align: center; font-weight: bold; color: white; cursor: hand; }
td.tabSep
	{ height: 24px; padding: 0px; width: 2px; }
#nav a, #nav a:link, #nav a:visited, #nav a:active
	{ color: black; }
	
textarea
	{font-size: 11px; width: 100%}

	
td.propValue input
	{width: 100%; border: 1px solid black;}
td.propValue select
	{width: 100%;}
td.propPreset
	{background-color: white; padding: 1px; width: 135px;}
td.propPreset select
	{width: 100%}

