/* COMMON CSS PROPERTIES */
A:link {color: blue;text-decoration: none;}
A:active {color: blue;text-decoration: none;}
A:visited {color: blue;text-decoration: none;}
A:hover {color: red;text-decoration: underline;}
.subtitle, .ts_body .subtitle {color: #003366;font-family: verdana;font-weight: bold;font-size: 10pt;}
H1 {font-family: Arial;font-weight: bold;font-size: 18pt;background-image: url(banner.jpg);line-height: 40px;background-repeat: no-repeat;background-position: center center;color: #000000;text-decoration: underline overline;text-align: center;}
H2 {font-family: Arial;font-size: 12pt;color: #000000;}
/*.foot {font-family: verdana;font-size: 8pt;font-weight: bold;background-color: #EBECFF}*/
.foot {font-family: verdana;font-size: 8pt;font-weight: bold}
#foldheader{cursor:auto;font-weight:bold;font-family: verdana;font-size: 8pt;}
#dhtmltooltip{font-family: verdana;font-size: 8pt;position: absolute;width: 150px;border: 2px solid black;padding: 2px;background-color: lightyellow;visibility: hidden;z-index: 100;filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);}
/* TOP FRAME PROPERTIES */
.td_top{ font-family: Verdana;font-size: 10px;font-style: normal;line-height: normal;font-weight: bold;text-transform: capitalize;text-align: left;color: WHITE;}
.td_top A:link {color: white;text-decoration: none;}
.td_top A:active {color: white;text-decoration: none;}
.td_top A:visited {color: white;text-decoration: none;}
.td_top A:hover {color: yellow;text-decoration: underline overline;}
/* MENU PROPERTIES */
.menu_body {background-image: url(side_bar.gif);margin-top: 0em;}
.menuCal {float: left;margin-left: 1px;margin-bottom: 1em;margin-top: 0em;width: 10px;}
.menu_body .menu_table {border: 1px solid black;background-color: #FFFFFF;}
.menu_body li {font-family: Verdana;font-size: 9px;font-style: normal;line-height: 15px;color: #000000;list-style-type: square;}
.menu_body th, .ex_body th, .rpt_body th, .frm_nocal_body th, .frm_cal_body th, .tables_body th  {color: white;font-family: verdana;font-weight: bold;font-size: 8pt;border-top: 1px solid #808080;border-bottom: 1px solid #808080;line-height: 20pt;background-image: url(th_head.gif);}
.menu_body A:hover {color: red;text-decoration: overline underline;}
.menu_body .names {color: black;font-family: Verdana;font-size: 10px;font-weight: bold;}
.menu_body .textbox{border: 0px #808080;color:black;font-family: verdana;font-weight: bold;font-size: 10px;background-color:transparent}
.menu_body .number{vertical-align:middle;border: 1px solid white;color:black;font-family: verdana;font-size: 10px;background-color:transparent}
.buttons {border: 1px #000000 solid;cursor: auto;color:white;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #0066AA;}
.buttons_warn {border: 1px #000000 solid;cursor: auto;color:white;font-family:Arial;font-weight:bold;font-size:9pt;background-color: red;}
.buttons_over {border: 1px #000000 solid;cursor: auto;color:black;font-family:Arial;font-weight:bold;font-size:9pt;background-color: #FFCC00;}
.textbox {border: 1px #808080 solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
.td  {font-family: verdana;line-height: 15pt;font-size: 8pt;background-color: #FFFFFF;}
.td_alt {font-family: verdana;line-height: 15pt;font-size: 8pt;background-color: #EEEEEE;}
.td_over {font-family: verdana;line-height: 15pt;font-size: 8pt;background-color: #D9E8FF;}
.required {color: red;font-family: verdana;font-weight: normal;font-size: 8pt;}
.project_list {font-family: verdana;font-size: 8pt;}
.tables_body .bold, .ex_body .bold, .ts_body .bold, .rpt_body .bold, .frm_nocal_body .bold, .frm_cal_body .bold {font-weight: bold;}
.tables_body .no-border, .ex_body .no-border, .ts_body .no-border, .rpt_body .no-border, .frm_nocal_body .no-border, .frm_cal_body .no-border {border: 0px solid;}
.tables_body .border-gray, .ex_body .border-gray, .ts_body .border-gray, .rpt_body .border-gray, .frm_nocal_body .border-gray, .frm_cal_body .border-gray {border: 1px #CCCCCC solid;}
/* EXPENSES SPECIFIC STYLES */
.ex_body {}
.ex_body .dashboard, .ts_body .dashboard {font-family: verdana;font-size: 8pt;background-color: #FFFFFF;}
.ex_body .th_dashboard, .ts_body .th_dashboard {color: white;font-family: verdana;font-weight: bold;font-size: 8pt;border-top: 1px solid #808080;line-height: 5pt;border-bottom: 1px solid #808080;background-image: url(th_head.gif);}
.ex_body .tr, .rpt_body .tr, .frm_nocal_body .tr, .frm_cal_body .tr {font-family: Verdana;line-height: 15pt;font-size: 8pt;background-color: #FFFFFF;vertical-align:top;}
.ex_body table, .ts_body table, .frm_nocal_body table, .frm_cal_body table, .tables_body table, .rpt_body .table {font-family: Verdana, Arial, Helvetica, sans-serif;border: 1px solid black;}
.ex_body .th, .ts_body th {color: white;font-family: verdana;font-weight: bold;font-size: 8pt;border-top: 1px solid #808080;border-bottom: 1px solid #808080;background-image: url(th_head.gif);}
.ex_body .textbox_number{text-align:right;border: 1px #808080 solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
/* TIMESHEET SPECIFIC STYLE */
.ts_body {}
.daily_total{border: 1px #808080;color: #003366; font-family: verdana;font-weight: bold;font-size: 8pt;border-bottom-style: double;background-color:transparent}
.grand_total{border: 0px #808080;color: #003366; color:white; font-family: verdana;font-weight: bold; font-size: 8pt;background-color:blue}
.ts_body .offday_title {color: red;font-family: verdana;font-weight: bold;font-size: 8pt;}
.offday_textbox{border: 1px #808080 solid;color: red;font-family: verdana;font-size: 8pt;background-color: #E8EEFF}
.offday_textbox_reject{border: 1px red solid;color: black;font-family: verdana;font-size: 8pt;background-color: #E8EEFF}
.textbox_reject{border: 1px red solid;color: #003366;font-family: verdana;font-size: 8pt;background-color: #f0f8ff}
.reject {color: red;}
.ts_body td {font-family: arial;font-size: 8pt;}
.subtitle_day{color: black;font-family: verdana;font-weight: bold;font-size: 10pt;}
/* REPORT SPECIFIC STYLE */
.rpt_body {}
.rpt_body li {list-style-type: square;}
.rpt_body table {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 8pt;}
/* FORMS SPECIFIC STYLE */
.frm_nocal_body {}
.frm_nocal_body td {font-family: Verdana;line-height: 15pt;font-size: 8pt;background-color: #FFFFFF;vertical-align:top;}
.frm_cal_body {}
/* TABLES SPEFICIC STYLE */
.tables_body {}
hr {color:#CCCCCC;width: 90%;height: 1px;text-align:center}
