<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

   <title>Blog with sidebar | Mental - Retina Responsive HTML5 Photgraphy Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="style.css">
   <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
   <body class="menu-bar-opened">
      <script type="text/javascript">
         // Open page with hidden menu-bar on mobile screen less than 700px
         if(window.innerWidth < 738){
            var body_element = document.getElementsByTagName('body')[0];
            body_element.className = body_element.className.replace(/\bmenu-bar-opened\b/,'')
         }
      </script>
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="wrapper">

         <div id="menu-bar">
            <aside>
               <div class="mb-body">
                  <div class="mb-header hidden-xs">
                     <img src="assets/img/logo.png" class="logo" alt="Logo">
                     <p class="mb-site-descr">Multipurpose Portfolio</p>
                  </div>
                  <div class="mb-content">
                     <nav>
                        <ul id="mb-main-menu">
                           <li class="menu-item-has-children">
                              <a href="home-expanding-preview.html">Home</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                                 <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                                 <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                                 <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                              </ul>
                           </li>
                           <li class="menu-item-has-children">
                              <a>Gallery</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="home-col3.html">Gallery 3 Column Grid</a></li>
                                 <li><a href="home.html">Gallery 4 Column Grid</a></li>
                                 <li><a href="home-col5.html">Gallery 5 Column Grid</a></li>
                                 <li><a href="home-masonry.html">Gallery Masonry Grid</a></li>
                                 <li><a href="home-pinterest-style.html">Gallery Pinterest Style</a></li>
                                 <li><a href="single-work-full-1.html">Single Work Full Width v1</a></li>
                                 <li><a href="single-work-full-2.html">Single Work Full Width v2</a></li>
                                 <li><a href="single-work-with-description.html">Single Work with Description</a></li>
                                 <li><a href="single-work-thumbnails.html">Single Work with Thumbnails</a></li>
                                 <li><a href="single-video-full.html">Single Work - Video</a></li>
                                 <li><a href="single-vimeo-full.html">Single Work - Vimeo</a></li>
                              </ul>
                           </li>
                           <li><a href="about-us.html">About Us</a></li>
                           <li><a href="services.html">Services</a></li>
                           <li class="menu-item-has-children">
                              <a>Blog</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="blog-sidebar.html">Blog with Sidebar</a></li>
                                 <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                 <li><a href="single-post.html">Blog Single Post</a></li>
                                 <li><a href="single-post-sidebar.html">Blog Single Post with Sidebar</a></li>
                              </ul>
                           </li>
                           <li><a href="shortcodes.html">Shortcodes</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="mb-footer">
                     <h4>About us</h4>
                     <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
                     <div class="mb-social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-tumblr"></i></a>
                     </div>
                     <div class="mb-copyright">
                        <p>© 2014 All rights reserved</p>
                        <p>Developed by Azelab</p>
                     </div>
                  </div>
               </div> <!-- mb-body -->
               <a href="#" class="mb-toggler"><i class="fa fa-bars"></i></a>
            </aside>
         </div>


         <div id="main">

            <div id="header-mobile" class="visible-xs">
               <header>
                  <div class="m-header-body">
                     <img src="assets/img/logo_white.png" class="logo" alt="Logo">
                     <p class="m-site-descr">Multipurpose Portfolio</p>
                  </div>
               </header>
            </div>

            <div id="header">
               <header>
                  <h1>Blog with sidebar</h1>
               </header>
            </div>

            <div class="section">
               <section>
                  <div class="container">

                     <div class="row">
                        <div class="col-md-8">
                           
                           <div class="blog-list isotope-vertical">

                              <div class="row blog-item isotope-item">
                                 <div class="col-sm-6 blog-image">
                                    <a href="#" class="img-eye-hover"><img src="http://placehold.it/370x246" alt=""></a>
                                 </div>
                                 <div class="col-sm-6">
                                    <h3 class="blog-title"><a href="#">Image Post. Beautiful sea landscape.</a></h3>
                                    <p class="blog-info">Posted by Admin on <time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                                    <div class="blog-excerpt">
                                       <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities.</p>
                                    </div>
                                    <a href="#" class="btn btn-default blog-readmore">Read more</a>
                                 </div>
                              </div>

                              <div class="row blog-item isotope-item">
                                 <div class="col-sm-6 blog-image">
                                    <div id="carousel-post-1" class="carousel slide" data-ride="carousel">
                                    
                                       <!-- Wrapper for slides -->
                                       <div class="carousel-inner">
                                          <div class="item active">
                                             <img src="http://placehold.it/370x246" alt="slide">
                                          </div>
                                          <div class="item">
                                             <img src="http://placehold.it/370x246" alt="slide">
                                          </div>
                                          <div class="item">
                                             <img src="http://placehold.it/370x246" alt="slide">
                                          </div>
                                       </div>

                                       <!-- Indicators -->
                                       <ol class="carousel-indicators">
                                          <li data-target="#carousel-post-1" data-slide-to="0" class="active"></li>
                                          <li data-target="#carousel-post-1" data-slide-to="1"></li>
                                          <li data-target="#carousel-post-1" data-slide-to="2"></li>
                                       </ol>
                                       
                                       <!-- Controls -->
                                       <a class="left carousel-control" href="#carousel-post-1" data-slide="prev">
                                          <span></span>
                                       </a>
                                       <a class="right carousel-control" href="#carousel-post-1" data-slide="next">
                                          <span></span>
                                       </a>

                                    </div> <!-- carousel -->
                                 </div>
                                 <div class="col-sm-6">
                                    <h3 class="blog-title"><a href="#">Slider Post. Lonely forest.</a></h3>
                                    <p class="blog-info">Posted by Admin on <time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">1510 Comments</a></p>
                                    <div class="blog-excerpt">
                                       <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities. We are team of creative photographers.</p>
                                    </div>
                                    <a href="#" class="btn btn-default blog-readmore">Read more</a>
                                 </div>
                              </div>

                              <div class="blog-item blog-item-quotation biq-full isotope-item">
                                 <blockquote>
                                    <p>Don't cry because it's over, smile because it happened.</p>
                                    <footer>Alexander Samokhin</footer>
                                 </blockquote>
                                 <p class="blog-info">Posted by Admin on <time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">9 Comments</a></p>
                              </div>

                              <div class="row blog-item isotope-item">
                                 <div class="col-sm-6 blog-image blog-video">
                                    <a href="#" class="img-eye-hover"><img src="http://placehold.it/370x246" alt=""></a>
                                 </div>
                                 <div class="col-sm-6">
                                    <h3 class="blog-title"><a href="#">Video Post. Lonely Castle.</a></h3>
                                    <p class="blog-info">Posted by Admin on <time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">1510 Comments</a></p>
                                    <div class="blog-excerpt">
                                       <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities. We are team of creative photographers.</p>
                                    </div>
                                    <a href="#" class="btn btn-default blog-readmore">Read more</a>
                                 </div>
                              </div>

                              <div class="row blog-item isotope-item">
                                 <div class="col-sm-12">
                                    <h3 class="blog-title"><a href="#">Text Post. This is all mental theme.</a></h3>
                                    <p class="blog-info">Posted by Admin on <time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">1510 Comments</a></p>
                                    <div class="blog-excerpt">
                                       <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                                    </div>
                                    <a href="#" class="btn btn-default blog-readmore">Read more</a>
                                 </div>
                              </div>

                           </div> <!-- blog-default -->

                        </div>
                        <div class="col-md-3 col-md-offset-1">
                           <div class="sidebar">
                              <aside>

                                 <div class="widget">
                                    <form class="search-form">
                                       <div class="input-group">
                                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                          <div class="input-group-btn">
                                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                          </div>
                                      </div>
                                    </form>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Categories</h3>
                                    <ul class="wg-categories">
                                       <li><a href="#">Nature</a></li>
                                       <li><a href="#">Creative</a></li>
                                       <li><a href="#">Experimental</a></li>
                                       <li><a href="#">People</a></li>
                                       <li><a href="#">Thoughts</a></li>
                                       <li><a href="#">Extraordinary</a></li>
                                    </ul>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Popular posts</h3>
                                    <ul class="wg-popular-posts">
                                       <li>
                                          <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                                          <div class="body">
                                             <p class="wg-pp-title"><a href="#">We are team of creative photographers.</a></p>
                                             <p class="wg-info"><time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                                          </div>
                                       </li>
                                       <li>
                                          <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                                          <div class="body">
                                             <p class="wg-pp-title"><a href="#">This temlate was designed for you.</a></p>
                                             <p class="wg-info"><time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                                          </div>
                                       </li>
                                    </ul>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">FLickr stream</h3>
                                    <div class="row wg-flicker">
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                    </div>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Tags</h3>
                                    <div class="wg-tags">
                                       <a href="#" class="btn btn-tag">Nature</a>
                                       <a href="#" class="btn btn-tag">Creative</a>
                                       <a href="#" class="btn btn-tag">Portrait</a>
                                       <a href="#" class="btn btn-tag">Fashion</a>
                                       <a href="#" class="btn btn-tag">Wedding</a>
                                       <a href="#" class="btn btn-tag">Responsive</a>
                                    </div>
                                 </div> <!-- widget -->

                              </aside>
                           </div> <!-- sidebar -->
                        </div>

                     </div>

                  </div> <!-- container -->
               </section>
            </div> <!-- section -->


            <div id="footer" class="ft-single-post text-center">
               <footer>
                  <a href="#" class="footer-loadmore" data-link="#" data-offset="5" data-items-per-page="5">Load more</a>
                  <span class="loading-spinner" style="display:none;"></span>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->

      <script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
      <script src="assets/js/vendor/jquery.touchSwipe.min.js"></script>

      <script src="assets/js/bootstrap/carousel.js"></script>
      <script src="assets/js/bootstrap/tab.js"></script>
      <script src="assets/js/bootstrap/collapse.js"></script>
      <script src="assets/js/bootstrap/transition.js"></script>

      <!--[if IE]><script type="text/javascript" src="assets/js/vendor/excanvas.js"></script><![endif]-->
      <script src="assets/js/vendor/jquery.knob.min.js"></script>
      <script src="assets/js/vendor/fastclick.min.js"></script>
      <script src="assets/js/vendor/jquery.stellar.min.js"></script>

      <script src="assets/js/vendor/jquery.mousewheel.js"></script>
      <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>

      <script src="assets/js/vendor/isotope.pkgd.min.js"></script>

      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
         // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         // e.src='//www.google-analytics.com/analytics.js';
         // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
   </body>
</html>
