<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

   <title>Contact | Mental - Retina Responsive HTML5 Photgraphy Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="style.css">
   <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
   <body class="menu-bar-opened">
      <script type="text/javascript">
         // Open page with hidden menu-bar on mobile screen less than 700px
         if(window.innerWidth < 738){
            var body_element = document.getElementsByTagName('body')[0];
            body_element.className = body_element.className.replace(/\bmenu-bar-opened\b/,'')
         }
      </script>
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="wrapper">

         <div id="menu-bar">
            <aside>
               <div class="mb-body">
                  <div class="mb-header hidden-xs">
                     <img src="assets/img/logo.png" class="logo" alt="Logo">
                     <p class="mb-site-descr">Multipurpose Portfolio</p>
                  </div>
                  <div class="mb-content">
                     <nav>
                        <ul id="mb-main-menu">
                           <li class="menu-item-has-children">
                              <a href="home-expanding-preview.html">Home</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                                 <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                                 <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                                 <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                              </ul>
                           </li>
                           <li class="menu-item-has-children">
                              <a>Gallery</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="home-col3.html">Gallery 3 Column Grid</a></li>
                                 <li><a href="home.html">Gallery 4 Column Grid</a></li>
                                 <li><a href="home-col5.html">Gallery 5 Column Grid</a></li>
                                 <li><a href="home-masonry.html">Gallery Masonry Grid</a></li>
                                 <li><a href="home-pinterest-style.html">Gallery Pinterest Style</a></li>
                                 <li><a href="single-work-full-1.html">Single Work Full Width v1</a></li>
                                 <li><a href="single-work-full-2.html">Single Work Full Width v2</a></li>
                                 <li><a href="single-work-with-description.html">Single Work with Description</a></li>
                                 <li><a href="single-work-thumbnails.html">Single Work with Thumbnails</a></li>
                                 <li><a href="single-video-full.html">Single Work - Video</a></li>
                                 <li><a href="single-vimeo-full.html">Single Work - Vimeo</a></li>
                              </ul>
                           </li>
                           <li><a href="about-us.html">About Us</a></li>
                           <li><a href="services.html">Services</a></li>
                           <li class="menu-item-has-children">
                              <a>Blog</a>
                              <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                              <ul>
                                 <li><a href="">Blog with Sidebar</a></li>
                                 <li><a href="">Blog Masonry</a></li>
                                 <li><a href="">Blog Single Post</a></li>
                                 <li><a href="">Blog Single Post with Sidebar</a></li>
                              </ul>
                           </li>
                           <li><a href="shortcodes.html">Shortcodes</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="mb-footer">
                     <h4>About us</h4>
                     <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
                     <div class="mb-social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-tumblr"></i></a>
                     </div>
                     <div class="mb-copyright">
                        <p>© 2014 All rights reserved</p>
                        <p>Developed by Azelab</p>
                     </div>
                  </div>
               </div> <!-- mb-body -->
               <a href="#" class="mb-toggler"><i class="fa fa-bars"></i></a>
            </aside>
         </div>


         <div id="main">

            <div id="header-mobile" class="visible-xs">
               <header>
                  <div class="m-header-body">
                     <img src="assets/img/logo_white.png" class="logo" alt="Logo">
                     <p class="m-site-descr">Multipurpose Portfolio</p>
                  </div>
               </header>
            </div>

            <div id="header">
               <header>
                  <h1>Contact</h1>
               </header>
            </div>


            <div class="section">
               <section>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-8">
                           <h4 class="margin-btm-md">Drop us a line</h4>
                           <form role="form" action="formmail.php" class="contact-form validation-engine ajax-send">
                              <div class="row">
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_name">Name *</label>
                                    <input type="text" name="name" class="form-control validate[required]" id="input_name" placeholder="Name *">
                                 </div>
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_email">Email *</label>
                                    <input type="email" name="email" class="form-control validate[required,custom[email]]" id="input_email" placeholder="Email *">
                                 </div>
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_subject">Subject</label>
                                    <input type="text" name="subject" class="form-control" id="input_subject" placeholder="Subject">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="sr-only" for="input_message">Message</label>
                                 <textarea name="message" class="form-control validate[required]" rows="7" id="input_message" placeholder="Message"></textarea>
                              </div>
                              <div class="form-group">
                                 <button type="submit" class="btn btn-default btn-wide">Send</button>
                                 <span class="loading-spinner" style="display:none;"></span>
                              </div>
                           </form>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                           <h4 class="margin-btm-md">Information</h4>
                           <p class="address-block">
                              California CA<br>
                              Mental Inc.<br>
                              48792<br>
                              Start Apple st. 54<br>
                           </p>
                           <p class="phone-block">
                              +1 (800) 515 622 3122
                           </p>
                           <p class="email-block">
                              <a href="mailto:mental@gmail.com">mental@gmail.com</a>
                           </p>
                        </div>
                     </div>
                  </div> <!-- container -->
               </section>
            </div> <!-- section -->

            
            <div class="section no-padding contact-map">
               <section>
                  <div id="map-canvas"></div>
                  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                  <script type="text/javascript">
                     function initialize_google_map() {
                        var myLatlng = new google.maps.LatLng(34.040842, -118.233977);
                        var mapOptions = {
                           zoom: 12,
                           center: myLatlng,
                           scrollwheel: false
                        }
                        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                        var iconBase = 'http://d.azelab.com/mental/Demo/assets/img/';

                        var marker_icon = {
                           url: iconBase + 'map_marker.png',
                           size: new google.maps.Size(44,49),
                           origin: new google.maps.Point(0,0),
                           anchor: new google.maps.Point(22,49)
                        };

                        var marker = new google.maps.Marker({
                           position: myLatlng,
                           map: map,
                           title: 'M',
                           icon: marker_icon 
                        });
                     }
                     google.maps.event.addDomListener(window, 'load', initialize_google_map);
                  </script>
               </section>
            </div> <!-- section -->


            <div id="footer" class="are-you-ready-type">
               <footer>
                  <h2 data-animate="lightSpeedIn">ARE YOU READY TO WORK WITH US?</h2>
                  <div class="text-center">
                     <button type="button" class="btn btn-primary btn-wide">Lest Go</button>
                  </div>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->

      <script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
      <script src="assets/js/vendor/jquery.touchSwipe.min.js"></script>

      <script src="assets/js/bootstrap/carousel.js"></script>
      <script src="assets/js/bootstrap/tab.js"></script>
      <script src="assets/js/bootstrap/collapse.js"></script>
      <script src="assets/js/bootstrap/transition.js"></script>

      <!--[if IE]><script type="text/javascript" src="assets/js/vendor/excanvas.js"></script><![endif]-->
      <script src="assets/js/vendor/jquery.knob.min.js"></script>
      <script src="assets/js/vendor/fastclick.min.js"></script>
      <script src="assets/js/vendor/jquery.stellar.min.js"></script>

      <script src="assets/js/vendor/jquery.mousewheel.js"></script>
      <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>

      <script src="assets/js/vendor/jquery.validationEngine.js"></script>
      <script src="assets/js/vendor/jquery.validationEngine-en.js"></script>

      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
         // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         // e.src='//www.google-analytics.com/analytics.js';
         // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
   </body>
</html>
