<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

   <title>Single Post with Sidebar| Mental - Retina Responsive HTML5 Photgraphy Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="style.css">
   <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
   <body>
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="wrapper" class="no-menubar">

         <div id="main">

            <div id="header" class="top-menu tm-fixonscroll">
               <header class="shadow-down">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-2 tm-logo">
                           <img src="assets/img/logo_white.png" class="logo" alt="Logo">
                           <p class="tm-site-descr">Multipurpose Portfolio</p>
                        </div>
                        <div class="col-md-10 tm-menu">
                           <nav>
                              <ul class="top-main-menu mtmenu">
                                 <li class="menu-item-has-children">
                                    <a href="home-expanding-preview.html">Home</a>
                                    <ul class="dropdown">
                                       <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                                       <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                                       <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                                       <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a>Gallery</a>
                                    <ul class="dropdown">
                                       <li><a href="home-col3.html">Gallery 3 Column Grid</a></li>
                                       <li><a href="home.html">Gallery 4 Column Grid</a></li>
                                       <li><a href="home-col5.html">Gallery 5 Column Grid</a></li>
                                       <li><a href="home-masonry.html">Gallery Masonry Grid</a></li>
                                       <li><a href="home-pinterest-style.html">Gallery Pinterest Style</a></li>
                                       <li><a href="single-work-full-1.html">Single Work Full Width v1</a></li>
                                       <li><a href="single-work-full-2.html">Single Work Full Width v2</a></li>
                                       <li><a href="top-menu-single-work-with-description.html">Single Work with Description</a></li>
                                       <li><a href="single-work-thumbnails.html">Single Work with Thumbnails</a></li>
                                       <li><a href="single-video-full.html">Single Work - Video</a></li>
                                       <li><a href="single-vimeo-full.html">Single Work - Vimeo</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-about-us.html">About Us</a></li>
                                 <li><a href="top-menu-services.html">Services</a></li>
                                 <li class="menu-item-has-children">
                                    <a>Blog</a>
                                    <ul class="dropdown">
                                       <li><a href="top-menu-blog-sidebar.html">Blog with Sidebar</a></li>
                                       <li><a href="top-menu-blog-masonry.html">Blog Masonry</a></li>
                                       <li><a href="top-menu-single-post.html">Blog Single Post</a></li>
                                       <li><a href="top-menu-single-post-sidebar.html">Blog Single Post with Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-shortcodes.html">Shortcodes</a></li>
                                 <li><a href="top-menu-contact.html">Contact</a></li>
                                 <li>
                                    <a href="contact.html">Feedback</a>
                                    <div class="megamenu full-width">
                                       <div class="row">
                                          <div class="col-sm-6" style="text-align: justify">
                                             <h4>Aliquam</h4>
                                             <p>
                                                Aliquam erat volutpat. Nulla nec justo dui. Aeneanoi atet accumsan egestas tortor at lacinia. 
                                                Pellentesque netus habitant morbi tristique senectus et netus etor egestasio malesuada fames
                                                ac turpis egestas.  
                                             </p>
                                             <h4>Lorem ipsum</h4>
                                             <p>
                                                Lorem ipsum dolor sit amet, consectetur meti facilisi a adipiscing elit. Amet
                                                Curabitur nec lorem alty amet massalit fermentum massa eti. Nulla facilisi. 
                                                Phasellus in rutrum felis. 
                                             </p>
                                          </div>
                                          <div class="col-sm-6">
                                             <h4>Contact Us</h4>
                                             <form role="form" class="contact-form">
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_name_mega">input_name_footer *</label>
                                                   <input type="text" class="form-control" id="input_name_mega" placeholder="Name *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_email_mega">Email *</label>
                                                   <input type="email" class="form-control" id="input_email_mega" placeholder="Email *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_message_mega">Message</label>
                                                   <textarea class="form-control" rows="4" id="input_message_mega" placeholder="Message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-wide">Send</button>
                                             </form>
                                          </div>
                                       </div>                  
                                    </div>
                                 </li>
                              </ul> <!-- top-main-menu -->
                           </nav>
                        </div>
                     </div> <!-- row -->
                  </div> <!-- container -->
               </header>
            </div> <!-- header -->


            <div class="section">
               <section>
                  <div class="container">
                     <div id="carousel-single-post" class="carousel slide" data-ride="carousel">
                     
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                           <div class="item active">
                              <img src="http://placehold.it/1170x624" alt="slide">
                           </div>
                           <div class="item">
                              <img src="http://placehold.it/1170x624" alt="slide">
                           </div>
                           <div class="item">
                              <img src="http://placehold.it/1170x624" alt="slide">
                           </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                           <li data-target="#carousel-single-post" data-slide-to="0" class="active"></li>
                           <li data-target="#carousel-single-post" data-slide-to="1"></li>
                           <li data-target="#carousel-single-post" data-slide-to="2"></li>
                        </ol>
                        
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-single-post" data-slide="prev">
                           <span></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-single-post" data-slide="next">
                           <span></span>
                        </a>

                     </div> <!-- carousel -->
                  </div>
               </section>
            </div> <!-- section -->



            <div class="section single-post">
               <section>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-8">

                           <article>
                              <h1 class="sp-title">GALLERY POST. BEAUTIFUL SEA LANDSCAPE</h1>
                              <p class="sp-info">Posted by Admin on <time datetime="2014-01-27">16 Jan 2014</time> / <a href="#">5 Comments</a></p>
                              <div class="sp-content">
                                 <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you.</p>
                                 <p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination. We know that this subconscious mind controls and orchestrates our bodily functions, from pumping blood to all parts of our body to egulating our breathing and digestion.</p>
                                 <h4>WE FURTHER KNOW THAT THE SUBCONSCIOUS HAS RECORDED</h4>
                                 <p>We further know that the subconscious has recorded every event that has ever happened to us. Every incident in our personal history is recorded within, along with the emotions and thoughts evoked by those incidents.  And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are quickened, charged and changed into their physical equivalent. You may voluntarily plant in your subconscious mind any plan, thought or purpose which you desire to translate into its physical counterpart, and that counterpart will manifest itself for you.</p>
                                 <blockquote>
                                   <p>Creative, prolific and ever-ready to serve you. Yet so few of us understand how to use its power. In order to understand how the conscious and subconscious minds work together as a team to create your reality, let me again use an analogy.</p>
                                 </blockquote>
                                 <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn. You will reap what you sow. This is a law.</p>
                                 <p>Remember, the conscious mind is the gardener. It is our responsibility to be aware of and choose wisely what reaches the inner garden.  But unfortunately for most of us our role as gardener has never been explained to us. And in misunderstanding our role, we have allowed seeds of all types, both good and bad, to enter our inner garden. This then is the cause of all that is happening in our life. If you wish to understand why fortune or misfortune is happening to you in any area of your life, you need only look within.</p>
                              </div>
                              
                              <div class="sp-footer">
                                 <footer>
                                    <div class="row">
                                       <div class="col col-sm-8">
                                          <span class="sp-tags-title">TAGS</span><span class="sp-tags"><a href="#">creative</a>, <a href="#">template</a>, <a href="#">photography</a>, <a href="#">landscape</a></span>
                                       </div>
                                       <div class="col col-sm-4 text-right">
                                          <span class="sp-share-title">SHARE</span>
                                          <div class="social-block">
                                             <a href=""><i class="fa fa-twitter"></i></a>
                                             <a href=""><i class="fa fa-facebook"></i></a>
                                             <a href=""><i class="fa fa-google-plus"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </footer>
                              </div>
                           </article>

                           <div class="related-posts">
                              <h2 class="rp-title">Related Posts</h2>
                              <div class="row">
                                 <div class="col-sm-4 text-center">
                                    <div class="rp-item">
                                       <a href="#" class="rp-image img-eye-hover">
                                          <img src="http://placehold.it/242x163" alt="related">
                                       </a>
                                       <h5><a href="#">Image Post. Beaufiful night sky</a></h5>
                                    </div>
                                 </div>
                                 <div class="col-sm-4 text-center">
                                    <div class="rp-item">
                                       <a href="#" class="rp-image img-eye-hover">
                                          <img src="http://placehold.it/242x163" alt="related">
                                       </a>
                                       <h5><a href="#">Image Post. Beaufiful dangerous sea</a></h5>
                                    </div>
                                 </div>
                                 <div class="col-sm-4 text-center">
                                    <div class="rp-item">
                                       <a href="#" class="rp-image img-eye-hover">
                                          <img src="http://placehold.it/242x163" alt="related">
                                       </a>
                                       <h5><a href="#">Slider post. Lonely Forest</a></h5>
                                    </div>
                                 </div>
                              </div>
                           </div> <!-- related-posts -->

                        </div>
                        <div class="col-md-3 col-md-offset-1">
                           <div class="sidebar">
                              <aside>

                                 <div class="widget">
                                    <form class="search-form">
                                       <div class="input-group">
                                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                          <div class="input-group-btn">
                                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                          </div>
                                      </div>
                                    </form>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Categories</h3>
                                    <ul class="wg-categories">
                                       <li><a href="#">Nature</a></li>
                                       <li><a href="#">Creative</a></li>
                                       <li><a href="#">Experimental</a></li>
                                       <li><a href="#">People</a></li>
                                       <li><a href="#">Thoughts</a></li>
                                       <li><a href="#">Extraordinary</a></li>
                                    </ul>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Popular posts</h3>
                                    <ul class="wg-popular-posts">
                                       <li>
                                          <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                                          <div class="body">
                                             <p class="wg-pp-title"><a href="#">We are team of creative photographers.</a></p>
                                             <p class="wg-info"><time datetime="2014-01-27">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                                          </div>
                                       </li>
                                       <li>
                                          <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                                          <div class="body">
                                             <p class="wg-pp-title"><a href="#">This temlate was designed for you.</a></p>
                                             <p class="wg-info"><time datetime="2014-01-27">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                                          </div>
                                       </li>
                                    </ul>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">FLickr stream</h3>
                                    <div class="row wg-flicker">
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                       <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                                    </div>
                                 </div> <!-- widget -->

                                 <div class="widget">
                                    <h3 class="wg-title">Tags</h3>
                                    <div class="wg-tags">
                                       <a href="#" class="btn btn-tag">Nature</a>
                                       <a href="#" class="btn btn-tag">Creative</a>
                                       <a href="#" class="btn btn-tag">Portrait</a>
                                       <a href="#" class="btn btn-tag">Fashion</a>
                                       <a href="#" class="btn btn-tag">Wedding</a>
                                       <a href="#" class="btn btn-tag">Responsive</a>
                                    </div>
                                 </div> <!-- widget -->

                              </aside>
                           </div> <!-- sidebar -->
                        </div>

                     </div>

                  </div>

               </section>
            </div> <!-- section -->


            <div class="section st-bg-grey-lighter">
               <section>
                  <div class="container container-800">
                     <div class="comments">
                        <h3 class="cm-block-title">5 Comments</h3>
                        <ul>
                           <li>
                              <div class="cm-item">
                                 <figure>
                                    <img src="http://placehold.it/70x70" alt="">
                                 </figure>
                                 <div class="cm-body">
                                    <div class="cm-title-line">
                                       <span class="cm-title">John doe</span>
                                       <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                       <a href="#">Reply</a>
                                    </div>
                                    <div class="cm-content">
                                       <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn.</p>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="cm-item">
                                 <figure>
                                    <img src="http://placehold.it/70x70" alt="">
                                 </figure>
                                 <div class="cm-body">
                                    <div class="cm-title-line">
                                       <span class="cm-title">Michael doe</span>
                                       <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                       <a href="#">Reply</a>
                                    </div>
                                    <div class="cm-content">
                                       <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn.</p>
                                    </div>
                                 </div>
                              </div>
                              <ul>
                                 <li>
                                    <div class="cm-item">
                                       <figure>
                                          <img src="http://placehold.it/70x70" alt="">
                                       </figure>
                                       <div class="cm-body">
                                          <div class="cm-title-line">
                                             <span class="cm-title">Jeniffer doe</span>
                                             <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                             <a href="#">Reply</a>
                                          </div>
                                          <div class="cm-content">
                                             <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn.</p>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                           <li>
                              <div class="cm-item">
                                 <figure>
                                    <img src="http://placehold.it/70x70" alt="">
                                 </figure>
                                 <div class="cm-body">
                                    <div class="cm-title-line">
                                       <span class="cm-title">Michael doe</span>
                                       <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                       <a href="#">Reply</a>
                                    </div>
                                    <div class="cm-content">
                                       <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn.</p>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="cm-item">
                                 <figure>
                                    <img src="http://placehold.it/70x70" alt="">
                                 </figure>
                                 <div class="cm-body">
                                    <div class="cm-title-line">
                                       <span class="cm-title">Michael doe</span>
                                       <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                       <a href="#">Reply</a>
                                    </div>
                                    <div class="cm-content">
                                       <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it. Your habitual thoughts and beliefs are the seeds which are being constantly sown within, and they produce in your life what is planted just as surely as corn kernels produce corn.</p>
                                    </div>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>

                     <div class="comment-form">
                        <h4 class="margin-btm-md">Leave a Comment</h4>
                        <form role="form" class="contact-form">
                           
                           <div class="row">
                              <div class="col-sm-4 form-group">
                                 <label class="sr-only" for="input_name">Name *</label>
                                 <input type="text" class="form-control" id="input_name" placeholder="Name *">
                              </div>
                              <div class="col-sm-4 form-group">
                                 <label class="sr-only" for="input_email">Email *</label>
                                 <input type="email" class="form-control" id="input_email" placeholder="Email *">
                              </div>
                              <div class="col-sm-4 form-group">
                                 <label class="sr-only" for="input_subject">Subject</label>
                                 <input type="text" class="form-control" id="input_subject" placeholder="Subject">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="sr-only" for="input_message">Comment</label>
                              <textarea class="form-control" rows="7" id="input_message" placeholder="Comment"></textarea>
                           </div>
                           <button type="submit" class="btn btn-default btn-wide">Submit</button>
                        </form>
                     </div>

                  </div> <!-- container -->
               </section>
            </div> <!-- section -->


            <div id="footer" class="ft-single-post">
               <footer>
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-4 text-left">
                           <a href="#" class="ft-prev-post disabled">Previous post</a>
                        </div>
                        <div class="col-sm-4 text-center">
                           <a href="#" class="ft-back2blog">Back to Blog</a>
                        </div>
                        <div class="col-sm-4 text-right">
                           <a href="#" class="ft-next-post">Next post</a>
                        </div>
                     </div>
                  </div>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->

      <script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
      <script src="assets/js/vendor/jquery.touchSwipe.min.js"></script>

      <script src="assets/js/bootstrap/carousel.js"></script>
      <script src="assets/js/bootstrap/tab.js"></script>
      <script src="assets/js/bootstrap/collapse.js"></script>
      <script src="assets/js/bootstrap/transition.js"></script>

      <!--[if IE]><script type="text/javascript" src="assets/js/vendor/excanvas.js"></script><![endif]-->
      <script src="assets/js/vendor/jquery.knob.min.js"></script>
      <script src="assets/js/vendor/fastclick.min.js"></script>
      <script src="assets/js/vendor/jquery.stellar.min.js"></script>

      <script src="assets/js/vendor/jquery.mousewheel.js"></script>
      <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>
      <script src="assets/js/vendor/jquery.mtmenu.js"></script>

      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
         // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         // e.src='//www.google-analytics.com/analytics.js';
         // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
   </body>
</html>
