<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

   <title>Services | Mental - Retina Responsive HTML5 Photgraphy Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="style.css">
   <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
   <body>
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="wrapper" class="no-menubar">

         <div id="main">

            <div id="header" class="top-menu tm-fixonscroll">
               <header class="shadow-down">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-2 tm-logo">
                           <img src="assets/img/logo_white.png" class="logo" alt="Logo">
                           <p class="tm-site-descr">Multipurpose Portfolio</p>
                        </div>
                        <div class="col-md-10 tm-menu">
                           <nav>
                              <ul class="top-main-menu mtmenu">
                                 <li class="menu-item-has-children">
                                    <a href="home-expanding-preview.html">Home</a>
                                    <ul class="dropdown">
                                       <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                                       <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                                       <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                                       <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a>Gallery</a>
                                    <ul class="dropdown">
                                       <li><a href="home-col3.html">Gallery 3 Column Grid</a></li>
                                       <li><a href="home.html">Gallery 4 Column Grid</a></li>
                                       <li><a href="home-col5.html">Gallery 5 Column Grid</a></li>
                                       <li><a href="home-masonry.html">Gallery Masonry Grid</a></li>
                                       <li><a href="home-pinterest-style.html">Gallery Pinterest Style</a></li>
                                       <li><a href="single-work-full-1.html">Single Work Full Width v1</a></li>
                                       <li><a href="single-work-full-2.html">Single Work Full Width v2</a></li>
                                       <li><a href="top-menu-single-work-with-description.html">Single Work with Description</a></li>
                                       <li><a href="single-work-thumbnails.html">Single Work with Thumbnails</a></li>
                                       <li><a href="single-video-full.html">Single Work - Video</a></li>
                                       <li><a href="single-vimeo-full.html">Single Work - Vimeo</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-about-us.html">About Us</a></li>
                                 <li><a href="top-menu-services.html">Services</a></li>
                                 <li class="menu-item-has-children">
                                    <a>Blog</a>
                                    <ul class="dropdown">
                                       <li><a href="top-menu-blog-sidebar.html">Blog with Sidebar</a></li>
                                       <li><a href="top-menu-blog-masonry.html">Blog Masonry</a></li>
                                       <li><a href="top-menu-single-post.html">Blog Single Post</a></li>
                                       <li><a href="top-menu-single-post-sidebar.html">Blog Single Post with Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-shortcodes.html">Shortcodes</a></li>
                                 <li><a href="top-menu-contact.html">Contact</a></li>
                                 <li>
                                    <a href="contact.html">Feedback</a>
                                    <div class="megamenu full-width">
                                       <div class="row">
                                          <div class="col-sm-6" style="text-align: justify">
                                             <h4>Aliquam</h4>
                                             <p>
                                                Aliquam erat volutpat. Nulla nec justo dui. Aeneanoi atet accumsan egestas tortor at lacinia. 
                                                Pellentesque netus habitant morbi tristique senectus et netus etor egestasio malesuada fames
                                                ac turpis egestas.  
                                             </p>
                                             <h4>Lorem ipsum</h4>
                                             <p>
                                                Lorem ipsum dolor sit amet, consectetur meti facilisi a adipiscing elit. Amet
                                                Curabitur nec lorem alty amet massalit fermentum massa eti. Nulla facilisi. 
                                                Phasellus in rutrum felis. 
                                             </p>
                                          </div>
                                          <div class="col-sm-6">
                                             <h4>Contact Us</h4>
                                             <form role="form" class="contact-form">
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_name_mega">input_name_footer *</label>
                                                   <input type="text" class="form-control" id="input_name_mega" placeholder="Name *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_email_mega">Email *</label>
                                                   <input type="email" class="form-control" id="input_email_mega" placeholder="Email *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_message_mega">Message</label>
                                                   <textarea class="form-control" rows="4" id="input_message_mega" placeholder="Message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-wide">Send</button>
                                             </form>
                                          </div>
                                       </div>                  
                                    </div>
                                 </li>
                              </ul> <!-- top-main-menu -->
                           </nav>
                        </div>
                     </div> <!-- row -->
                  </div> <!-- container -->
               </header>
            </div> <!-- header -->


            <div class="section">
               <section>
                  <div class="container">

                     <div class="row services-block">
                        <div class="col-md-4" data-animate="fadeInDown">
                           <div class="services-item">
                              <span class="sws-icon icon_camera_alt"></span>
                              <h5>Photography</h5>
                              <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                           </div>
                        </div>
                        <div class="col-md-4" data-animate="fadeInDown">
                           <div class="services-item">
                              <span class="sws-icon sws-icon-sm icon_lightbulb_alt"></span>
                              <h5>Creative Ideas</h5>
                              <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                           </div>
                        </div>
                        <div class="col-md-4" data-animate="fadeInDown">
                           <div class="services-item">
                              <span class="sws-icon sws-icon-sm icon_comment_alt"></span>
                              <h5>Consulting</h5>
                              <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                           </div>
                        </div>
                     </div>

                  </div> <!-- container -->
               </section>
            </div> <!-- section -->



            <div class="section st-invert">
               <section>
                  <div class="container">
                     <h2 class="section-title" data-animate="fadeInDown">Our Skills</h2>
                     
                     <div class="row">
                        <div class="col-md-6">
                           <div class="progress-bar-block">
                              <label>Landscape</label><div class="value">80%</div>
                              <div class="progress">
                                 <div class="progress-bar animate" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="progress-bar-block">
                              <label>Animals</label><div class="value">75%</div>
                              <div class="progress">
                                 <div class="progress-bar animate" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="progress-bar-block">
                              <label>People</label><div class="value">95%</div>
                              <div class="progress">
                                 <div class="progress-bar animate" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="progress-bar-block">
                              <label>Creative Ideas</label><div class="value">100%</div>
                              <div class="progress">
                                 <div class="progress-bar animate" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  </div> <!-- container -->
               </section>
            </div> <!-- section -->


            <div class="section">
               <section>
                  <div class="container">
                     <div class="section-title">
                        <h2 data-animate="fadeInDown">Our Pricing</h2>
                        <p class="section-descr">We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                     </div>
                     <div class="row">
                        <div class="col-md-4" data-animate="fadeInLeft">
                           <div class="price-table">
                              <header class="price-header">
                                 <h3>$ 599</h3>
                                 <p>Standart</p>
                              </header>
                              <ul class="price-descr">
                                 <li>Creative Ideas</li>
                                 <li>1000 photos</li>
                                 <li>Sound production</li>
                                 <li>Video production</li>
                                 <li>Post production</li>
                                 <li>Consulting</li>
                              </ul>
                              <footer class="price-footer">
                                 <button class="btn btn-default">Buy it now</button>
                              </footer>
                           </div>
                        </div>
                        <div class="col-md-4" data-animate="fadeInDown">
                           <div class="price-table active">
                              <header class="price-header">
                                 <h3>$ 799</h3>
                                 <p>Business</p>
                              </header>
                              <ul class="price-descr">
                                 <li>Creative Ideas</li>
                                 <li>1000 photos</li>
                                 <li>Sound production</li>
                                 <li>Video production</li>
                                 <li>Post production</li>
                                 <li>Consulting</li>
                              </ul>
                              <footer class="price-footer">
                                 <button class="btn btn-default">Buy it now</button>
                              </footer>
                           </div>
                        </div>
                        <div class="col-md-4" data-animate="fadeInRight">
                           <div class="price-table">
                              <header class="price-header">
                                 <h3>$ 1 599</h3>
                                 <p>Advanced</p>
                              </header>
                              <ul class="price-descr">
                                 <li>Creative Ideas</li>
                                 <li>1000 photos</li>
                                 <li>Sound production</li>
                                 <li>Video production</li>
                                 <li>Post production</li>
                                 <li>Consulting</li>
                              </ul>
                              <footer class="price-footer">
                                 <button class="btn btn-default">Buy it now</button>
                              </footer>
                           </div>
                        </div>
                     </div>
                  </div> <!-- container -->
               </section>
            </div> <!-- section -->


            <div class="section st-bg-grey-lighter">
               <section>
                  <div class="container">
                     <h2 class="section-title" data-animate="fadeInDown">Testimonials</h2>

                     <div id="carousel-testimonials" class="carousel-testimonials carousel slide" data-ride="carousel">
                     
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center testimonials">
                           <div class="item active testimonial">
                              <p class="citation">Don't cry because it's over, smile because it happened. We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                              <p class="author">Alexander Samokhin / CEO of Company</p>
                           </div>
                           <div class="item testimonial">
                              <p class="citation">Don't cry because it's over, smile because it happened. We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                              <p class="author">Alexander Samokhin / CEO of Company</p>
                           </div>
                           <div class="item testimonial">
                              <p class="citation">Don't cry because it's over, smile because it happened. We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
                              <p class="author">Alexander Samokhin / CEO of Company</p>
                           </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                           <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                           <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                           <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                        </ol>
                        
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-testimonials" data-slide="prev">
                           <span></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-testimonials" data-slide="next">
                           <span></span>
                        </a>

                     </div> <!-- carousel -->

                  </div> <!-- container -->
               </section>
            </div> <!-- section -->


            <div class="section brands-section">
               <section>
                  <div class="container">
                     <div class="row">
                         <div class="col-md-5cols col-sm-6"><img src="images/brands/envato.png" alt="envato"></div>
                         <div class="col-md-5cols col-sm-6"><img src="images/brands/wordpress.png" alt="wordpress"></div>
                         <div class="col-md-5cols col-sm-6"><img src="images/brands/jquery.png" alt="jquery"></div>
                         <div class="col-md-5cols col-sm-6"><img src="images/brands/windows8.png" alt="windows8"></div>
                         <div class="col-md-5cols col-sm-6"><img src="images/brands/themeforest.png" alt="themeforest"></div>
                     </div>
                  </div> <!-- container -->
               </section>
            </div> <!-- section -->
            


            <div id="footer" class="are-you-ready-type">
               <footer>
                  <h2 data-animate="lightSpeedIn">ARE YOU READY TO WORK WITH US?</h2>
                  <div class="text-center">
                     <button type="button" class="btn btn-primary btn-wide">Lest Go</button>
                  </div>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->

      <script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
      <script src="assets/js/vendor/jquery.touchSwipe.min.js"></script>

      <script src="assets/js/bootstrap/carousel.js"></script>
      <script src="assets/js/bootstrap/tab.js"></script>
      <script src="assets/js/bootstrap/collapse.js"></script>
      <script src="assets/js/bootstrap/transition.js"></script>

      <!--[if IE]><script type="text/javascript" src="assets/js/vendor/excanvas.js"></script><![endif]-->
      <script src="assets/js/vendor/jquery.knob.min.js"></script>
      <script src="assets/js/vendor/fastclick.min.js"></script>
      <script src="assets/js/vendor/jquery.stellar.min.js"></script>

      <script src="assets/js/vendor/jquery.mousewheel.js"></script>
      <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>
      <script src="assets/js/vendor/jquery.mtmenu.js"></script>

      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
         // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         // e.src='//www.google-analytics.com/analytics.js';
         // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
   </body>
</html>
