<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

   <title>Contact | Mental - Retina Responsive HTML5 Photgraphy Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="style.css">
   <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
   <body>
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="wrapper" class="no-menubar">

         <div id="main">

            <div id="header" class="top-menu tm-fixonscroll">
               <header class="shadow-down">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-2 tm-logo">
                           <img src="assets/img/logo_white.png" class="logo" alt="Logo">
                           <p class="tm-site-descr">Multipurpose Portfolio</p>
                        </div>
                        <div class="col-md-10 tm-menu">
                           <nav>
                              <ul class="top-main-menu mtmenu">
                                 <li class="menu-item-has-children">
                                    <a href="home-expanding-preview.html">Home</a>
                                    <ul class="dropdown">
                                       <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                                       <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                                       <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                                       <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a>Gallery</a>
                                    <ul class="dropdown">
                                       <li><a href="home-col3.html">Gallery 3 Column Grid</a></li>
                                       <li><a href="home.html">Gallery 4 Column Grid</a></li>
                                       <li><a href="home-col5.html">Gallery 5 Column Grid</a></li>
                                       <li><a href="home-masonry.html">Gallery Masonry Grid</a></li>
                                       <li><a href="home-pinterest-style.html">Gallery Pinterest Style</a></li>
                                       <li><a href="single-work-full-1.html">Single Work Full Width v1</a></li>
                                       <li><a href="single-work-full-2.html">Single Work Full Width v2</a></li>
                                       <li><a href="top-menu-single-work-with-description.html">Single Work with Description</a></li>
                                       <li><a href="single-work-thumbnails.html">Single Work with Thumbnails</a></li>
                                       <li><a href="single-video-full.html">Single Work - Video</a></li>
                                       <li><a href="single-vimeo-full.html">Single Work - Vimeo</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-about-us.html">About Us</a></li>
                                 <li><a href="top-menu-services.html">Services</a></li>
                                 <li class="menu-item-has-children">
                                    <a>Blog</a>
                                    <ul class="dropdown">
                                       <li><a href="top-menu-blog-sidebar.html">Blog with Sidebar</a></li>
                                       <li><a href="top-menu-blog-masonry.html">Blog Masonry</a></li>
                                       <li><a href="top-menu-single-post.html">Blog Single Post</a></li>
                                       <li><a href="top-menu-single-post-sidebar.html">Blog Single Post with Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="top-menu-shortcodes.html">Shortcodes</a></li>
                                 <li><a href="top-menu-contact.html">Contact</a></li>
                                 <li>
                                    <a href="contact.html">Feedback</a>
                                    <div class="megamenu full-width">
                                       <div class="row">
                                          <div class="col-sm-6" style="text-align: justify">
                                             <h4>Aliquam</h4>
                                             <p>
                                                Aliquam erat volutpat. Nulla nec justo dui. Aeneanoi atet accumsan egestas tortor at lacinia. 
                                                Pellentesque netus habitant morbi tristique senectus et netus etor egestasio malesuada fames
                                                ac turpis egestas.  
                                             </p>
                                             <h4>Lorem ipsum</h4>
                                             <p>
                                                Lorem ipsum dolor sit amet, consectetur meti facilisi a adipiscing elit. Amet
                                                Curabitur nec lorem alty amet massalit fermentum massa eti. Nulla facilisi. 
                                                Phasellus in rutrum felis. 
                                             </p>
                                          </div>
                                          <div class="col-sm-6">
                                             <h4>Contact Us</h4>
                                             <form role="form" class="contact-form">
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_name_mega">input_name_footer *</label>
                                                   <input type="text" class="form-control" id="input_name_mega" placeholder="Name *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_email_mega">Email *</label>
                                                   <input type="email" class="form-control" id="input_email_mega" placeholder="Email *">
                                                </div>
                                                <div class="form-group">
                                                   <label class="sr-only" for="input_message_mega">Message</label>
                                                   <textarea class="form-control" rows="4" id="input_message_mega" placeholder="Message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-wide">Send</button>
                                             </form>
                                          </div>
                                       </div>                  
                                    </div>
                                 </li>
                              </ul> <!-- top-main-menu -->
                           </nav>
                        </div>
                     </div> <!-- row -->
                  </div> <!-- container -->
               </header>
            </div> <!-- header -->


            <div class="section">
               <section>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-8">
                           <h4 class="margin-btm-md">Drop us a line</h4>
                           <form role="form" action="formmail.php" class="contact-form validation-engine ajax-send">
                              <div class="row">
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_name">Name *</label>
                                    <input type="text" name="name" class="form-control validate[required]" id="input_name" placeholder="Name *">
                                 </div>
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_email">Email *</label>
                                    <input type="email" name="email" class="form-control validate[required,custom[email]]" id="input_email" placeholder="Email *">
                                 </div>
                                 <div class="col-sm-4 form-group">
                                    <label class="sr-only" for="input_subject">Subject</label>
                                    <input type="text" name="subject" class="form-control" id="input_subject" placeholder="Subject">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="sr-only" for="input_message">Message</label>
                                 <textarea name="message" class="form-control validate[required]" rows="7" id="input_message" placeholder="Message"></textarea>
                              </div>
                              <div class="form-group">
                                 <button type="submit" class="btn btn-default btn-wide">Send</button>
                                 <span class="loading-spinner" style="display:none;"></span>
                              </div>
                           </form>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                           <h4 class="margin-btm-md">Information</h4>
                           <p class="address-block">
                              California CA<br>
                              Mental Inc.<br>
                              48792<br>
                              Start Apple st. 54<br>
                           </p>
                           <p class="phone-block">
                              +1 (800) 515 622 3122
                           </p>
                           <p class="email-block">
                              <a href="mailto:mental@gmail.com">mental@gmail.com</a>
                           </p>
                        </div>
                     </div>
                  </div> <!-- container -->
               </section>
            </div> <!-- section -->

            
            <div class="section no-padding contact-map">
               <section>
                  <div id="map-canvas"></div>
                  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                  <script type="text/javascript">
                     function initialize_google_map() {
                        var myLatlng = new google.maps.LatLng(34.040842, -118.233977);
                        var mapOptions = {
                           zoom: 12,
                           center: myLatlng,
                           scrollwheel: false
                        }
                        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                        var iconBase = 'http://d.azelab.com/mental/Demo/assets/img/';

                        var marker_icon = {
                           url: iconBase + 'map_marker.png',
                           size: new google.maps.Size(44,49),
                           origin: new google.maps.Point(0,0),
                           anchor: new google.maps.Point(22,49)
                        };

                        var marker = new google.maps.Marker({
                           position: myLatlng,
                           map: map,
                           title: 'M',
                           icon: marker_icon 
                        });
                     }
                     google.maps.event.addDomListener(window, 'load', initialize_google_map);
                  </script>
               </section>
            </div> <!-- section -->


            <div id="footer" class="are-you-ready-type">
               <footer>
                  <h2 data-animate="lightSpeedIn">ARE YOU READY TO WORK WITH US?</h2>
                  <div class="text-center">
                     <button type="button" class="btn btn-primary btn-wide">Lest Go</button>
                  </div>
               </footer>
            </div>

         </div> <!-- main -->

      </div> <!-- wrapper -->

      <script src="assets/js/vendor/jquery-1.10.2.min.js"></script>
      <script src="assets/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
      <script src="assets/js/vendor/jquery.touchSwipe.min.js"></script>

      <script src="assets/js/bootstrap/carousel.js"></script>
      <script src="assets/js/bootstrap/tab.js"></script>
      <script src="assets/js/bootstrap/collapse.js"></script>
      <script src="assets/js/bootstrap/transition.js"></script>

      <!--[if IE]><script type="text/javascript" src="assets/js/vendor/excanvas.js"></script><![endif]-->
      <script src="assets/js/vendor/jquery.knob.min.js"></script>
      <script src="assets/js/vendor/fastclick.min.js"></script>
      <script src="assets/js/vendor/jquery.stellar.min.js"></script>

      <script src="assets/js/vendor/jquery.mousewheel.js"></script>
      <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>
      <script src="assets/js/vendor/jquery.mtmenu.js"></script>

      <script src="assets/js/vendor/jquery.validationEngine.js"></script>
      <script src="assets/js/vendor/jquery.validationEngine-en.js"></script>

      <script src="assets/js/plugins.js"></script>
      <script src="assets/js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
         // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         // e.src='//www.google-analytics.com/analytics.js';
         // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
   </body>
</html>
