/* Admin pages style */
/*
body
{
  font-family: verdana, arial, tahoma;
  font-size: 11px;
  background-color: #f6f6f6;
  color: #FFFFFF;
}

table, tr, td, th, input, select, textarea
{
  font-family: verdana, arial, tahoma;
  font-size: 11px;
  color: #000000;
}
a:link    { color: #0000FF; text-decoration: none; }
a:visited { color: #0000FF; text-decoration: none; }
a:hover   { color: #FF0000; text-decoration: underline; }
*/
/* Fancy form styles for IE */
.plus  { color: #00A000; }
.minus { color: #FF0000; }
.titlebar{
	font-size: 12px;
	font-weight: bold;
	padding: 4px 6px;
	background-color: #006699;
	color: #FFFFFF;
	border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC;
	border-style: solid;
	border-width: 1px;
}
input, textarea, select {
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;  
}

input { text-indent : 2px; }

input.button {
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;  
}

.postbody { line-height: 18px}
/* Admin pages style */
body{
	background-color: silver;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	font-folor: #636363;
}

font,th,td,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
p, td{
	font-size : 11; 
	color : #000000; 
}
a:link,a:active,a:visited { color : #006699; }
a:hover{
	text-decoration: underline; 
	color : #DD6900; 
}
hr{
	height: 0px; 
	border: solid #D1D7DC 0px; 
	border-top-width: 1px;
}
h1,h2{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	font-size : 22px; 
	font-weight : bold; 
	text-decoration : none; 
	line-height : 120%; 
	color : #000000;
}
/*
table { background-color: #FFFFCC; border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF; border-style: solid; border-width: 1px; }
td, th { border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC; border-style: solid; border-width: 1px; padding: 3px; }
th { text-align: left; background-color: #DBDBDB; }
*/

table, tr, td, th, input, select, textarea{
	font-family: verdana, arial, tahoma;
	font-size: 11px;
	color: #000000;
}
.rightside{
	background-color: #f6f6f6;
	border-left:1px dashed;
}
/*
table.design{
	background-color: #EEEEEE;
	border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border: 1px solid #C8C8C8;
	padding: 0px;
	margin: 0px;
}

table.design td{
	font-size: 11px;
	color: #4A4A4A;
	padding: 0px 6px 6px;
}

table.design th{
	font-size: 12px;
	font-weight: bold;
	padding: 4px 6px;
	background-color: #006699;
	color: #FFFFFF;
	border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC;
	border-style: solid;
	border-width: 1px;
}
*/
table.design  { 
	background-color: #000099; 
	color: #FFFFFF
}
table.design td{
	background-color: #EFEFEF;
	border-color: #006699 #006699 #006699 #006699 ;
	border-style: solid;
	border-width: 1px;
	padding: 3px; 
}
table.design th{
	background-color: #006699; 
	height: 25px;
	text-align: center;
	border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC; 
	border-style: solid; 
	border-width: 1px;
	padding: 4px;
	color: #FFFFFF; 
	font-size: 11px; 
	font-weight : bold;
	font-family: Verdana, Arial, Helvetica, sans-serif
}

a:hover {  font-weight: bold; text-decoration: none; text-transform: capitalize}
a:link {  font-weight: bold; text-decoration: none; text-transform: capitalize}
a:visited {  font-weight: bold; text-decoration: none; text-transform: capitalize}
a:active {  font-weight: bold; text-decoration: none; text-transform: capitalize}
.menu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold; color: #FFFFFF; background-color: #000099; text-decoration: none}
.label {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-decoration: none}
.fields {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000099; text-decoration: none; background-color: #F3F3F3; border-color: #006699 #333333 #333333 #999999; font-style: normal; padding-top: 0px; padding-right: 2px; padding-bottom: 0px; padding-left: 2px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.fields_text {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; background-color: #E5E5E5; border-color: #000099 #000099 #000099 #000033 border-top-width: thin; border-right-width: thin}
.fields_text2 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #000000; background-color: #DBDBDB; border-color: #000099 #000099 #000099 #000033 border-top-width: thin; border-right-width: thin}
.fields_back {  background-color: #000099; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.main {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000099; background-color: #F9F9F9}

a {
	font-size : 11px; 
	color: #006699; 
	text-decoration: none; 
}
a:link    { 
	color: #0000FF;
	text-decoration: none; 
}
a:visited { 
	color: #0000FF;
	text-decoration: none; 
}
a:hover   { 
	color: #DD6900; 
	text-decoration: underline;
}
.plus  { 
	color: #00A000; 
}
.minus { 
	color: #FF0000; 
}
.topbar{
	font-size:22px;
	font-family: arial, sans-serif;
	padding:10px 30px;
	border-bottom:1px solid #666;
	margin-bottom:0px;
	letter-spacing:5px;
	color:#990000;
	text-decoration:none;
}
/*	form elements	*/
input, textarea, select{
	font-family: Verdana,Arial,Helvetica; font-size: 11px;
	background-color: #FFFFFF; color: #444444;
	border: #444444 1px solid;
}
input.button {
	background-color : #FAFAFA;
	font-weight : bold;
	color : #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
input.submit {
	background-color : #FAFAFA;
	font-weight : bold;
	color : #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.empty{
	background-color: #CCCCCC;
}

table.empty td{
	background-color: #CCCCCC;
	border: none;
	padding: 0px;
}
.smalldark {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	font-weight: normal 
}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none; 
	font-weight: medium 
}
.tiny{
	font-size: 7pt;
}
