.fb {
    width: 400px; height: 400px;
}

﻿div.fb {
	margin: 20px;
	overflow: hidden;    
}
 
.fb h2 {
    color: white;
    text-shadow: #808080 1px 1px 0;
    text-align: center;
}
 
.fb p {
    font-size: 12pt;
    margin: 5px 0 0;
    float: center;
    clear: right;
    width: 340px;
    text-align: center;
}

.fb img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
}
 
.fb p span {
	font-size: 12pt;
}
 
.fb a:link, .fb a:active, .fb a:visited {
	display: block;
	clear: both;
	text-decoration: none;
	color: #222;
	font-size: 8pt;
}
 
.fb a:hover {
	color: #000;
	text-decoration: underline;
}