/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
a img {
	border:none;
}
p {
	margin:0 0 20px;
	clear:both;
	line-height:1.6;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin-bottom:10px;
}
h1 {
	font-size:24px;
	font-weight:bold;
}
h2 {
	font-size:18px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin-bottom:25px;
}
h3 {
	font-size:14px;
	font-weight:bold;
}
h4 {
	font-weight:bold;
}
h5 {
	font-size:12px;
}
h6 {
	font-size:11px;
}

/* Base */
body {
	background:#D6E4EE;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#666;
	line-height:1.5;
	font-size:75%;
}

#statusBar {
	width:780px;
	margin:0 auto;
	text-align:right;
}
#statusBar a {
	color:#666;
	text-decoration:none;
	padding:0 0 0 20px;
	background:url('../img/warning_16.png') center left no-repeat;
}
#wrapper {
	width:900px;
	margin:30px auto 20px auto;
}

#wrapper h1 a.homelink {
	padding:40px;
	text-indent:-9999px;
	display:block;
	width:260px;
}


.home #wrapper {
	margin:20px auto;
}

#wrapper p.error {
	color:#990000;
	padding:10px 20px;
}

#wrapper p.success {
	color:green;
	border:1px solid green;
	padding:5px 20px;
	background:#f3f3f3;
}

#header {

}


span.small_instruction {
	font-size:12px;
	line-height:10px!important;
	display:block;
	margin:0 0 20px 0 ;
}

.col2 {
	width:200px;
}

td.col3 {
	font-size:12px;
	background-color:rgba(255,255,255,0.8);
	text-indent:20px;
	color:#777;

}




#headerYggdrasil {
	height:118px;
	margin:0 auto;
	background:url('../img/header.png') no-repeat;
}



#header ul#navigation {
	width:400px;
	float:right;
	list-style:none;
	padding:0;
	margin:20px 0 0 0;
}

#header ul#navigation li {
	float:left;
	margin:0 10px 0 0;
	padding:0;
}

#header ul#navigation li a {
	padding:5px 10px 3px 10px;
	background:#f2f2f2;
	margin:0;
	text-decoration:none;
	color:#69D2E7;
}

#header ul#navigation li a:hover, #header ul#navigation li a.active {
	background:#fff;
}


#content {
	background: #fff;
	padding:10px 40px 20px;
	clear:both;
	margin-bottom:10px;
	-moz-border-radius:10px 0 10px 10px;
	-webkit-border-radius:10px 0 10px 10px;
}

#footer {
text-align:right;
}

#wrapper h1 {
	margin:0px 0 50px 0 ;
	text-indent:-9999px;
}

h2.toggle {
	line-height:46px;
	text-indent:60px;
	cursor:pointer;
}


h1, h3, h4 {
	color:#69D2E7;
}
a {
	color:#69D2E7;
}
h2 {
	color:#fa6900;
}

.orangered {
	color:#fa6900
}

h2.plus {
	background:url('../img/add_48.png') center left no-repeat;
}

h2.minus {
	background:url('../img/cancel_48.png') center left no-repeat;
}
/*
input[type="text"], input[type="password"], textarea {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#F2F2F2;
	border:1px solid #69D2E7;
	border-radius:5px;
	font: inherit;
	color:#F38630;
	padding:4px 2px;
}
*/
.col2 input[type="text"] {
	width:180px;
}



.center {
	text-align:center;
	padding:40px 0 10px 0;
}

#addSuccess {
	height:175px;
	margin:10px 0;

}

#addSuccess h1 {
	line-height:46px;
	text-indent:60px;
	background:url('../img/accepted_48.png') center left no-repeat;
	margin:0 0 0 0;
}

#addSuccess a {

}

#addSuccess span {
	padding:10px 40px;
	border:1px solid #69D2E7;
	color:#F38630;
	margin:20px auto;
	font-size:160%;
}




.receipt {
	margin-left: 20px
}
.receipt th {
	text-align: right;
	font-size: 1.3em;
}
.receipt td {
	font-size: 1.3em
}

.centered_x {
	margin-left: auto; margin-right: auto
}

.bordered {
	padding: 15px;
	border: 1px solid #ddd;
	background-color: #ffffff
}

.pad_left {
	padding: 0 0 0 15px
}
.pad_right {
	padding: 0 15px 0 0
}

.tight {
	line-height:140%;
}


p.yggdrasil {
	text-align:right;
	font-size:12px;
}

p.yggdrasil a {
	text-decoration:none;
}

span.small {
	font-size:10px;
}

span.small a, p.key a {
	text-decoration:none;
}




.paidInv {
	background:#f1ffbf;
	border:1px solid #a6d50f;
	padding:10px 20px 15px;
	margin-bottom:20px;
	-moz-border-radius:5px;
	-webkit-border:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
}

.paidInv span {
	color:green;
	font-size:24px;
}

.outstanding {
	background:#fecdc6;
	border:1px solid #f45d43;
	padding:10px 20px 15px;
	margin-bottom:20px;
	-moz-border-radius:5px;
	-webkit-border:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
}

.outstanding span {
	color:#990000;
	font-size:24px;
}



.notification {
	border-width:1px;
	border-style:solid;
	padding:17px 17px 17px 17px;
	margin-bottom:15px;
	-moz-border-radius:5px;
	-webkit-border:5px;
	border-radius:5px;
	-moz-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow:1px 1px rgba(255, 255, 255, 0.6) inset;
}
.notification.success {
	background:#f1ffbf;
	border-color:#a6d50f;
}
.notification.error {
	background:#fecdc6;
	border-color:#f45d43;
}

div.notification p {
	margin: 0 0 3px 0;
	padding: 0px;
}








#logo {
	float:left;
	position:relative;
top:22px;
}

table {
	border-collapse:separate;
	border-spacing:0px;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
table, td, th {
	vertical-align:middle;
}
td {
	width:230px;
}
table {
	width:100%;
}
thead td, thead th {
	background-color:#E6E6E6;
}
tr td, thead th {
	color:#404040;
	padding:8px 0;
}
tr td.first, thead th.first {
	border-left:0;
}
tr td {
	vertical-align:middle;
}
thead td, thead th {
	font-weight:bold;
	padding:8px;
	color:#333333;
}

tbody th {
	padding:0 8px;
	text-align:left;
}
td.alt {
	background: #F5FAFA;
}

.listtable {
	border: 1px solid #999999;
	border-collapse: collapse;
}
.listtable thead td, .listtable thead th {
	background: #394754 url('../img/nav-bg.gif') repeat-x top;
	color: #FFFFFF;
	padding: 5px 8px;
}

.listtable tr td {
	border: 1px solid #999999;
	padding: 5px 5px 5px 8px;
}

#nav {
	line-height: 100%;
	float:right;
	margin-top:47px;
}
#nav li {
	margin: 0 0 0 10px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#nav a {
	background: #394754 url('../img/nav-bg.gif') repeat-x top;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
	padding:  8px 15px;
	margin: 0;
	border: 1px solid #394754;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
#nav a:hover {
	background: #525f6d;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #525f6d url('../img/nav-hover.gif') repeat-x top;
	text-shadow: 0 1px 0 #394754;
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #728496 !important;
	color: #fff !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
/* level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 120px;
	position: absolute;
	top: 30px;
	left: 0;
	background: #f2f2f2 url('../img/nav-dd-bg.gif') repeat-x bottom;
	border: solid 1px #d9d9d9;
	-webkit-border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	z-index:10;
}
#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}



/* Forms */
form label {
	padding-top:2px;
	display: block;
	color:#444;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:150px;
}
form p {
	margin-bottom:10px;
	padding-bottom:20px;
}
form div.row {
	clear:both;
	margin-bottom:20px;
}
form .row label {
	width:130px;
}
form input[type="radio"], form input[type="checkbox"]  {
width:auto;
}
form .row .checkbox, form .row .radio {
	width:auto;
	margin-right:10px;
}
form .row .checkbox {
	margin-left:10px;
}
form input, form textarea, form select {
	background: #FFFFFF url('../img/input-bg.gif') repeat-x top;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #afafaf;
	outline:medium none;
	padding:4px 6px;
	margin:0;
	color:#555;
}

form input:focus, form textarea:focus  {
   color: #000;
   background: #FFFEDE;
   border: 1px solid #aaa;
}

form input.error {
	border:1px solid #e17984;
	background:#f8dbdd;
	color:#b36069;
}
form input {
/*	width:150px; */
}
form input.small {
	width:50px;
}
form input.large {
	width:250px;
}
form optgroup {
	background:#f7f7f7;
}
fieldset {
	margin-bottom:15px;
}
form.nocol label {
	float:none;
	margin-bottom:5px;
}
form.nocol div.row {
	margin-bottom:15px;
}
.auto {
width:100px;
}

.25 {
width:25px!important;
}

.50 {
width:50px!important;
}

.75 {
width:75px!important;
}

.100 {
width:100px;
}

.200 {
width:200px;
}

.300 {
width:300px;
}
#add-row {
margin:10px 0;
}
form textarea {
margin-bottom:20px;
}

ul#file-inputs,
ul#file-inputs li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.file_remove td {
	text-decoration: line-through;
}
.btn_remove {
	color: #C60D22;
	padding:5px 0px 5px 26px;
	border:0;
	font-size:12px;
	background:url('../img/cross_24.png') center left no-repeat;
	cursor: pointer;
}

.button, button, .button2, .button:visited, .button2:visited   {
	-webkit-border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;

	background: #6abe18;
	background: -moz-linear-gradient(top, #cbe951, #9dd254 5%, #5eac11);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cbe951), color-stop(.03, #9dd254), to(#5eac11));
	border-color:#53A40C #53A40C #468F0A;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	display:inline-block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:9px 18px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 1px #316903;
	width:auto;
}
.button:hover, button:hover, .button2:hover {
	background: #61b212;
	background: -moz-linear-gradient(top, #cbe951, #98ca53 5%, #55a10b);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cbe951), color-stop(.03, #98ca53), to(#55a10b));
border-bottom:1px solid #468F0A;
color:#FFFFFF;
}
.button:focus, button:focus, .button2:focus  {
-moz-box-shadow:0 2px 5px #346C13 inset, 0 1px 0 #D0E0C7;
	background: #61b212;
	background: -moz-linear-gradient(top, #cbe951, #98ca53 5%, #55a10b);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cbe951), color-stop(.03, #98ca53), to(#55a10b));
border:medium none;
color:#FFFFFF;
padding:10px 19px;
text-shadow:0 -1px 1px #316903;
}

.btn_grey{

	/* GENERAL */
	padding:5px 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	display:inline-block;
	margin-top:-10px;

	/* BACKGROUND GRADIENTS */
	background: #E6E6E6;
	background: -moz-linear-gradient(top, #FFF, #f5f5f5 5%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(.03, #f5f5f5), to(#e2e2e2));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#e2e2e2'); /* IE6,IE7 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#e2e2e2')"; /* IE8 only */

	/* BORDER RADIUS */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	/* BORDERS */
	border:1px solid #d0d0d0;
	border-bottom:1px solid #b5b5b5;

	/* TEXT COLOR & SHADOW */
	color:#5e5e5e;
	text-shadow: 1px 1px 1px #FFF;
}

.btn_grey:hover	{

	/* BACKGROUND GRADIENTS */
	background: #EEE;
	background: -moz-linear-gradient(top, #FFF, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), to(#e5e5e5));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#e5e5e5'); /* IE6,IE7 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#e5e5e5')"; /* IE8 only */
}

.btn_grey:focus	{

	/* GENERAL */
	padding:5px 10px 4px 10px;

	/* TEXT COLOR & SHADOW */
	color:#FFF;
	text-shadow: -1px -1px 1px #888;

	/* BORDERS */
	border:none;

	/* BACKGROUND GRADIENTS */
	background:#999;
	background: -moz-linear-gradient(top, #999, #777 5%, #AFAFAF);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(.05, #777), to(#AFAFAF));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#777777', EndColorStr='#AFAFAF'); /* IE6,IE7 only */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#777777', EndColorStr='#AFAFAF')"; /* IE8 only */

	/* INNER SHADOW & OUTER SHADOW */
	box-shadow: inset 0px 2px 5px #444, 0 1px 0px #DDD;
	-webkit-box-shadow: inset 0px 2px 5px #444, 0 1px 0px #DDD;
	-moz-box-shadow: inset 0px 2px 7px #444, 0 1px 0px #DDD;
}

/* ========================== */
/* = Big notification boxes = */
/* ========================== */

.no_object_notification {
	width:900px;
	min-height:800px;
	border:8px solid #ccc;
	background:#f2f2f2 url('../../../app/themes/bootstrap/img/good_stack.png') 650px 560px no-repeat!important;
	margin:20px 0 20px 40px;
	overflow:hidden;
}

.super-warning {
	border:8px solid #DF0B24!important;
}

span.bad-news {
	color:red;
	display:block;
	clear:both;
}

.no_object_notification h2, .no_object_notification h4 {
	color:#666;
	font-size:36px!important;
	margin:40px 0 0 30px!important;
	font-family: 'Paytone One', arial, serif!important; 
	text-shadow:0 2px #fff!important;
}

.no_object_notification p {
	margin:20px 0 0 30px;
	font-size:18px;	
	width:600px;
}

.no_object_notification p.call_to_action {
clear:both;
width:450px;
}


.no_object_notification p.call_to_action a.yellow-btn {
	float:right;	
}

/* ==================== */
/* = Installer Styles = */
/* ==================== */

ul.requirements {
	list-style:none;
	margin:20px 0 20px 20px ;
}

ul.requirements {
	/*color:#4ECDC4;*/
	color:#999;
}

ul.requirements li {
	height:26px;
	padding:2px 0 0 30px;
	background:url('../../../app/themes/bootstrap/img/ui_icons/arrow_right_small.png') top left no-repeat;
}

.success {
	color:#6abe18;
}

.col1 {
width:140px;
text-align:right;
padding-right:4px;
}

.col3 {
	font-size:12px;
	color:#69D2E7;
}

.pass {
	color: #3EA224;
	font-weight: bold;
	font-size: 200%;
}
.fail {
	color: #FF3000;
	font-weight: bold;
	font-size: 200%;
}


.focus {
	background:#C5D4D9;
}