<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title>yggdrasil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?php echo base_url();?>app/modules/frontpage/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/fancy-buttons.min.css" />

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,600,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
    
    <!-- Other CSS files -->
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/animate.min.css" />
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/js/magnific/magnific-popup.min.css">
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/style.min.css" />
    <link rel="stylesheet" href="<?php echo base_url();?>app/modules/frontpage/css/ui.min.css" />
    <!-- Color Scheme, 5 colors are available: default, blue, red, orange and green  -->
    <link rel="stylesheet" id="theme-color" href="<?php echo base_url();?>app/modules/frontpage/css/themes/default.css" />
    <!-- [if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
  </head>
  <body>
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- END PRELOADER -->
    <!--  Begin Topbar simple -->
    <div class="topnav fixed-topnav topnav-top">
      <div class="section">
        <div id="topbar-hold" class="nav-hold container">
          <nav class="navbar" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <!-- Site Name -->
              <a class="site-name navbar-brand" href="#"></a>
            </div>
            <!-- Main Navigation menu Starts -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#header">Home</a></li>
                <li><a href="#section-services">Services</a></li>
                <li><a href="#section-join">Join</a></li>
                <li><a href="#section-works">Projects</a></li>
                <li><a href="#section-team">Team</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#section-pricing">Pricing</a></li>
                <li><a href="#section-contact">Contact</a></li>
                <li><a href="admin/users/login">Login</a></li>                
              </ul>
            </div>
            <!-- Main Navigation menu ends-->
          </nav>
        </div>
      </div>
    </div>
    <!-- Top Background Slider Image -->
    <header class="bg-slider center" id="header">
      <div class="section-overlay"></div>
      <div class="container top-element">
        <div class="row">
          <p class="top-text">Hello and Welcome</p>
          <h1 class="welcome">Make your own admin design</h1>
          <div class="col-md-8 col-md-offset-2">
            <p class="intro-message">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet qui dolorem</p>
            <div>
              <a href="#" class="fancy-button btn-line button-white vertical">
              Learn more
              <span class="icon">
              <i class="line-icon-settings"></i>
              </span>
              </a>
            </div>
            <div class="go-down">
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End Top Background Slider Image -->
    <!-- Begin Features 3 columns -->
    <section class="section-content" id="section-services">
      <div class="container">
        <h3 class="center p-b-30">Why choose us?</h3>
        <div class="row p-b-30">
          <div class="col-md-4 center animated" data-animation="fadeInDown" data-animation-delay="300">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="<?php echo base_url();?>app/modules/frontpage/img/pc-dollars.png" alt="have money" class="img-responsive img-feature">
              </div>
            </div>
            <h4 class="f-600">Win Money quickly</h4>
            <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant.</p>
          </div>
          <div class="col-md-4 center animated" data-animation="fadeInDown" data-animation-delay="600">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="<?php echo base_url();?>app/modules/frontpage/img/baloon.png" alt="baloon" class="img-responsive img-feature">
              </div>
            </div>
            <h4 class="f-600">Go to the sky</h4>
            <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant.</p>
          </div>
          <div class="col-md-4 center animated" data-animation="fadeInDown" data-animation-delay="900">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="<?php echo base_url();?>app/modules/frontpage/img/paper.png" alt="baloon" class="img-responsive img-feature">
              </div>
            </div>
            <h4 class="f-600">Easy to install</h4>
            <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant.</p>
          </div>
          <div class="col-md-12 center p-t-60 animated" data-animation="fadeInDown" data-animation-delay="900">
            <button type="submit" class="fancy-button btn-line large ">See all Features</button>
          </div>
        </div>
      </div>
    </section>
    <!-- End Features 3 columns -->
    <!-- Begin Content Laptop Desk -->
    <section class="section-content bg-primary" id="section-join">
      <div class="container p-t-60">
      <div class="row">
        <div class="col-md-5 p-t-60 animated" data-animation="fadeInLeft" data-animation-delay="500">
          <img class="img-responsive" src="<?php echo base_url();?>app/modules/frontpage/img/flat-desk.png" alt="desk">
        </div>
        <div class="col-md-7 text-left features-list animated" data-animation="fadeInRight" data-animation-delay="500">
          <h3 class="center p-b-30">Why join us?</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left icon" href="#">
                  <i class="line-icon-rocket c-primary"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading c-primary">Huge community</h4>
                  <p>Ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec gressus: hoste discursatore rupium.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left icon" href="#">
                  <i class="line-icon-folder-alt c-primary"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading c-primary">Exclusive content</h4>
                  <p>Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius. Probarem, quae ille diceret? Perdiscere ludus esset. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left icon" href="#">
                  <i class="line-icon-support c-primary"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading c-primary">Hight level support</h4>
                  <p>Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus, cui nos imperiale praeceptum, dispic.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="pull-left icon" href="#">
                  <i class="line-icon-support c-primary"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading c-primary">Hight level support</h4>
                  <p>Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus, cui nos imperiale praeceptum, dispic.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 center p-t-60">
            <button type="submit" class="fancy-button btn-line large button-white">Join the community Now</button>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content Laptop Desk -->
    <!-- Begin  Projects Sortable Fullwidth -->
    <section class="section-projects clearfix" id="section-works">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 center m-b-30">
            <h3>Our Latest Works</h3>
          </div>
          <div class="col-md-12 center">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
          </div>
          <div class="col-md-12 work-filter wow animated" data-animation="fadeInRight" data-animation-delay="200">
            <ul class="text-center">
              <li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
              <li><a href="javascript:;" data-filter=".branding" class="filter">Branding</a></li>
              <li><a href="javascript:;" data-filter=".web" class="filter">web</a></li>
              <li><a href="javascript:;" data-filter=".logo-design" class="filter">logo design</a></li>
              <li><a href="javascript:;" data-filter=".photography" class="filter">photography</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="project-wrapper">
        <figure class="mix work-item branding photography animated" data-animation="fadeIn" data-animation-delay="300">
          <img src="<?php echo base_url();?>app/modules/frontpage/img/1.jpg" alt="1">
          <figcaption class="overlay magnific" data-mfp-src="<?php echo base_url();?>app/modules/frontpage/img/1.jpg">
            <a rel="works" href="#"><i class="line-icon-eye"></i></a>
            <h4>Labore et dolore magnam</h4>
            <p>Photography</p>
          </figcaption>
        </figure>
        <figure class="mix work-item branding web logo-design animated" data-animation="fadeIn" data-animation-delay="1100">
          <img src="<?php echo base_url();?>app/modules/frontpage/img/5.jpg" alt="5">
          <figcaption class="overlay magnific" data-mfp-src="<?php echo base_url();?>app/modules/frontpage/img/5.jpg">
            <a rel="works" href="<?php echo base_url();?>app/modules/frontpage/img/works/item-5.jpg"><i class="line-icon-eye"></i></a>
            <h4>Labore et dolore magnam</h4>
            <p>Photography</p>
          </figcaption>
        </figure>
        <figure class="mix work-item photography web logo-design animated" data-animation="fadeIn" data-animation-delay="1700">
          <img src="<?php echo base_url();?>app/modules/frontpage/img/8.jpg" alt="8">
          <figcaption class="overlay magnific" data-mfp-src="<?php echo base_url();?>app/modules/frontpage/img/8.jpg">
            <a rel="works" href="<?php echo base_url();?>app/modules/frontpage/img/works/item-8.jpg"><i class="line-icon-eye"></i></a>
            <h4>Labore et dolore magnam</h4>
            <p>Photography</p>
          </figcaption>
        </figure>
      </div>
    </section>
    <!-- End Projects Sortable Fullwidth -->
    <!-- Begin Team 3 columns 2 rows Square -->
    <section class="section-team" id="section-team">
      <div class="container team center">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 center m-b-30">
            <h3>Our Team</h3>
          </div>
          <div class="col-sm-6">
            <div class="member-team animated grayscale-animate" data-animation="fadeIn" data-animation-delay="300">
              <div class="row">
                <div class="col-xs-6">
                  <img src="<?php echo base_url();?>app/modules/frontpage/img/people/10.jpg" class="img-responsive" alt="team 1">
                </div>
                <div class="col-xs-6 text-left">
                  <h4>Nils Hult</h4>
                  <p class="c-primary">Lead Designer</p>
                  <p class="team-description">Quo cognito Constantius ultra mortalem allus tinera conaretur.</p>
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="member-team animated grayscale-animate" data-animation="fadeIn" data-animation-delay="500">
              <div class="row">
                <div class="col-xs-6">
                  <img src="<?php echo base_url();?>app/modules/frontpage/img/people/2.jpg" class="img-responsive" alt="team 2">
                </div>
                <div class="col-xs-6 text-left">
                  <h4>Larry Yiu</h4>
                  <p class="c-primary">Lead Designer</p>
                  <p class="team-description">Quo cognito Constantius ultra mortalem allus tinera conaretur.</p>
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="member-team animated grayscale-animate" data-animation="fadeIn" data-animation-delay="700">
              <div class="row">
                <div class="col-xs-6 text-right">
                  <h4>Lisa Larsen</h4>
                  <p class="c-primary">Developer</p>
                  <p class="team-description">Quo cognito Constantius ultra mortalem allus tinera conaretur.</p>
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-6">
                  <img src="<?php echo base_url();?>app/modules/frontpage/img/people/3.jpg" class="img-responsive" alt="team 3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team 3 columns 2 rows Square -->
    <!-- Begin Features image left text right -->
    <section class="section-content bg-primary p-b-110" id="features">
      <div class="container">
        <h3 class="text-center p-t-60">Go with us in to next adventure</h3>
        <div class="row">
          <div class="col-md-4 p-t-60 m-t-30">
            <p class="f-600 uppercase">Go to the sky</p>
            <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant.</p>
          </div>
          <div class="col-md-4 animated" data-animation="fadeInUp" data-animation-delay="400">
            <img src="<?php echo base_url();?>app/modules/frontpage/img/baloon.png" alt="have money" class="img-responsive img-feature">
          </div>
          <div class="col-md-4 p-t-60 m-t-30">
            <p class="f-600 uppercase">Speed up your work</p>
            <p>Quaestione igitur per multiplices dilatata fortunas cum ambigerentur quaedam, non nulla levius actitata constaret, post multorum clades Apollinares ambo pater et filius in exilium acti comae multiplices dilatata fortunas primum est in quo admirer.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Features 3 columns -->
    <!-- Begin Pricing section 3 columns style 1 Fullcolor -->
    <section class="section-pricing" id="section-pricing">
      <div class="container pricing">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 center section-title">
            <h3 class="m-b-60">Plans &amp; pricing</h3>
          </div>
          <!-- Single Price Starts -->
          <div class="col-sm-4 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="500">
            <div class="single-pricing bg-dark">
              <div class="pricing-head">
                <h4 class="pricing-heading color-scheme">Basic</h4>
                <div class="price">
                  <h3>
                    <span class="dollar">$</span>
                    40
                    <span class="month">/month</span>
                  </h3>
                </div>
              </div>
              <ul class="package-features">
                <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
                <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
                <li><span class="color-scheme fa fa-close"></span>Cloud Storage</li>
                <li><span class="color-scheme fa fa-close"></span>Voice call</li>
                <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
              </ul>
              <div class="sign-up">
                <a href="#" class="fancy-button btn-line btn-col zoom">
                Sign up
                <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
                </span>
                </a>
              </div>
            </div>
          </div>
          <!-- Single Price Ends -->
          <!-- Single Price Starts -->
          <div class="col-sm-4 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
            <div class="single-pricing bg-dark">
              <!-- this is best-pricing -->
              <div class="pricing-head">
                <h4 class="pricing-heading color-scheme">Advance</h4>
                <div class="price">
                  <h3>
                    <span class="dollar">$</span>
                    60
                    <span class="month">/month</span>
                  </h3>
                </div>
              </div>
              <ul class="package-features">
                <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
                <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
                <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
                <li><span class="color-scheme fa fa-close"></span>Voice call</li>
                <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
              </ul>
              <div class="sign-up">
                <a href="#" class="fancy-button btn-line btn-col vertical">
                Sign up
                <span class="icon">
                <i class="fa fa-hand-o-up"></i>
                </span>
                </a>
              </div>
            </div>
          </div>
          <!-- Single Price Ends -->
          <!-- Single Price Starts -->
          <div class="col-sm-4 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="900">
            <div class="single-pricing bg-dark">
              <div class="pricing-head">
                <h4 class="pricing-heading color-scheme">Premium</h4>
                <div class="price">
                  <h3>
                    <span class="dollar">$</span>
                    80
                    <span class="month">/month</span>
                  </h3>
                </div>
              </div>
              <ul class="package-features">
                <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
                <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
                <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
                <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
                <li><span class="color-scheme fa fa-check"></span>Voice call</li>
                <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
              </ul>
              <div class="sign-up">
                <a href="#" class="fancy-button btn-line btn-col rotate">
                Sign up
                <span class="icon">
                <i class="fa fa-thumbs-o-up"></i>
                </span>
                </a>
              </div>
            </div>
          </div>
          <!-- Single Price Ends -->
        </div>
      </div>
    </section>
    <!-- End Pricing section 3 columns style 1 FullColor -->
    <!-- Begin Contact Map Full Width Dark -->
    <section class="section-contact full-map contact-wrap bg-dark" id="section-contact">
      <div class="map-container">
        <div id="full-map"></div>
      </div>
      <div class="container contact center animated" data-animation="flipInY" data-animation-delay="1000">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 center section-title">
            <h3>Leave a message</h3>
          </div>
          <div class="col-md-6">
            <div class="confirmation">
              <p><span class="fa fa-check"></span></p>
            </div>
            <form class="contact-form support-form">
              <div class="col-lg-12">
                <input id="name" class="input-field form-item field-name" type="text" required="required" name="contact-name" placeholder="Name" />
                <input id="email" class="input-field form-item field-email" type="email" required="required" name="contact-email" placeholder="Email" />
                <input id="subject" class="input-field form-item field-subject" type="text" required="required" name="contact-subject" placeholder="Subject" />
                <textarea id="message" class="textarea-field form-item field-message" rows="5" name="contact-message" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="fancy-button btn-line button-white large zoom subform">
              Send message
              <span class="icon">
              <i class="fa fa-paper-plane-o"></i>
              </span>
              </button>
            </form>
          </div>
          <div class="col-md-6">
            <h3 class="text-right">Get in touch</h3>
            <p class="contact-description text-right c-gray">
              Quod cum ita sit, paucae domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor artium ludicrarum accitur et bybliothecis sepulcrorum ritu in perpetuum clausis organa fabricantur hydraulica, et lyrae ad speciem carpentorum.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Form Map Full Width Dark -->
    <!-- BEGIN FOOTER -->
    <!-- Begin Footer 3 columns Dark -->
    <div class="section-footer footer-wrap">
      <div class="container footer center">
        <div class="row">
          <div class="col-sm-4">
            <h4>Company Info</h4>
            <p>Software Sweat Shop</p>
            <p>Specializing in Codeigniter 3.0</p>
            <p>Contact us for custom project</p>
          </div>
          <div class="col-sm-4">
            <h4>Contact Info</h4>
            <p><i class="line-icon-map"></i>DamStreet, Amsterdam, NY 25442</p>
            <p><i class="line-icon-screen-smartphone"></i>+31-xx-xxx-xxx / -31-xx-xxx-xx7</p>
            <p><i class="line-icon-envelope-open"></i>support@yggdrasil.org</p>
            <p><i class="line-icon-calendar"></i>9am - 6 pm monday / friday</p>
          </div>
          <div class="col-sm-4">
            <h4>Get In Touch</h4>
            <div class="social-icons social-square">
              <ul class="text-left">
                <li class="animated" data-animation="fadeIn" data-animation-delay="400"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="animated" data-animation="fadeIn" data-animation-delay="600"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="animated" data-animation="fadeIn" data-animation-delay="800"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="animated" data-animation="fadeIn" data-animation-delay="1000"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="animated" data-animation="fadeIn" data-animation-delay="1200"><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li class="animated" data-animation="fadeIn" data-animation-delay="1400"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Begin Footer Copyright -->
    <div class="container footer center">
      <div class="copyright">
        <p class=" center">Moln.co All rights reserved &copy; 2015</p>
      </div>
    </div>
    <!-- End Footer Copyright -->
    <!-- End Footer 3 columns Dark -->
    <!-- END FOOTER -->
    <div id="color-switcher">
      <a class="color-toggle"><i class="line-icon-drop"></i></a>
    </div>

    <!-- Js files -->
    <!-- Essential files -->
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery-1.11.1.min.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery.easing.1.3.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/bootstrap.min.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/modernizr.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/magnific/jquery.magnific-popup.min.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/backstretch/backstretch.min.js"></script>
    <!-- Scroll and navigation plugins -->
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery.nicescroll.min.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery.nav.js"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery.appear.js"></script>
    <!-- Google Maps -->
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="<?php echo base_url();?>app/modules/frontpage/js/google-maps/gmaps.min.js"></script>
    <script src="https://google-maps-utility-library-v3.googlecode.com/svn-history/r391/trunk/markerwithlabel/src/markerwithlabel.js"></script>
    <script type="text/javascript" src="<?php echo base_url();?>app/modules/frontpage/js/map.js"></script>
    <!-- Gallery Sortable -->
    <script src="<?php echo base_url();?>app/modules/frontpage/js/jquery.mixitup.min.js"></script>
    <!-- Custom Script files -->
    <script src="<?php echo base_url();?>app/modules/frontpage/js/custom.js"></script>
  </body>
</html>