/*
  Project specific
*/

.open   { color: #009000; }
.frozen { color: #000000; }
.closed { color: #900000; }

.plus  { color: #00A000; }
.minus { color: #FF0000; }


/* 
  General preferences 
*/
body, table
{
	font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 9pt;
  background-color: #FFFFFF; color: #000000;
}

a:link    { color: #0000FF; text-decoration: none; }
a:visited { color: #0000FF; text-decoration: none; }
a:hover   { color: #FF0000; text-decoration: underline; }

.small,small { font-size: 8pt; }
.medium,medium { font-size: 11pt; font-weight: 600; }
.large,big     { font-size: 15pt; }
.tiny        { font-size: 7pt; }

.error { color: #FF0000; }
.highlight { background-color: #EEEEEE; }


/*
  Table with some content
*/
table.design
{
  border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF; border-style: solid; border-width: 1px;
}
table.design th
{
  background-color: #647174; color: #FFFFFF;
  text-align: left;
  border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC; border-style: solid; border-width: 1px;
  padding: 4px;
}
table.design th.submit { text-align: right; }
table.design th.headline { text-align: center; }
table.design th a { color: #FFFFFF!important; }
table.design td
{
  border-color: #CCCCCC #FFFFFF #FFFFFF #CCCCCC; border-style: solid; border-width: 1px;
  padding: 3px;
}

td.row1 { background-color: #FFFFFF; }
td.row2 { background-color: #F8F8F8; }
td.copy { background-color: #000000; }

table.empty td { border: none; padding: 0px; }


/* 
  Form elements 
*/
input, textarea, select
{
  font-family: Verdana,Arial,Helvetica; font-size: 11px;
  background-color: #FFFFFF; color: #444444;
  border: #444444 1px solid;
}
input.checkbox { border: none; }
input.button   { background-color: #EEEEEE; cursor: hand; }
