<li class="gl-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girl in the street</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="people">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Tne Man</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="people">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">The Girl</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girt in the forest</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Night River</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="fashion">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girl At Kitchen</p>
               <p class="gl-item-category">Fashion</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Lonely Desert</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Autumn Forest</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="fashion">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Man in yellow jacket</p>
               <p class="gl-item-category">Fashion</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="fashion">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Man in blue shirt</p>
               <p class="gl-item-category">Fashion</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>
<li class="gl-item gl-loading" data-category="fashion">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girl</p>
               <p class="gl-item-category">Fashion</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
</li>