<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-icon"><i class="fa fa-picture-o"></i></p>
               <p class="gl-item-title">Slider</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;" data-category="people">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <div id="carousel-gallery-1" class="carousel slide" data-ride="carousel">
               
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="http://placehold.it/700x471" alt="slide">
                  </div>
                  <div class="item">
                     <img src="http://placehold.it/700x471" alt="slide">
                  </div>
                  <div class="item">
                     <img src="http://placehold.it/700x471" alt="slide">
                  </div>
               </div>

               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#carousel-gallery-1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-gallery-1" data-slide-to="1"></li>
                  <li data-target="#carousel-gallery-1" data-slide-to="2"></li>
               </ol>
               
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-post-1" data-slide="prev">
                  <span></span>
               </a>
               <a class="right carousel-control" href="#carousel-post-1" data-slide="next">
                  <span></span>
               </a>

            </div> <!-- carousel -->
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl in the street</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://d.azelab.com/mental/Demo/images/hqdefault.jpg" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-icon"><i class="fa fa-play-circle-o"></i></p>
               <p class="gl-item-title">Youtube</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;" data-category="people">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <div class="glp-video">
               <iframe src="http://www.youtube.com/embed/mOtI-gv1E1Y?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl in the street</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://i.vimeocdn.com/video/475287645_640.jpg" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-icon"><i class="fa fa-play-circle-o"></i></p>
               <p class="gl-item-title">Vimeo</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;" data-category="people">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <div class="glp-video">
               <iframe src="http://player.vimeo.com/video/95384593" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl in the street</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://d.azelab.com/mental/Demo/video/thumbs/hac.jpg" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-icon"><i class="fa fa-play-circle-o"></i></p>
               <p class="gl-item-title">Video JS</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;" data-category="people">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <div class="glp-video">
               <video class="video-js vjs-default-skin vjs-mental-skin" width="100%" height="100%" controls preload="none"
                     poster="http://d.azelab.com/mental/Demo/video/thumbs/hac.jpg"
                     data-setup="{}">
                  <source src="http://d.azelab.com/mental/Demo/video/hac.mp4" type="video/mp4" />
                  <!-- <source src="video/hac.webm" type='video/webm' /> -->
                  <source src="http://d.azelab.com/mental/Demo/video/hac.ogv" type='video/ogg' />
               </video>
            </div>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl in the street</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#">
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girl in the street</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;" data-category="people">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl in the street</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Tne Man</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Tne Man</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="people">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">The Girl</p>
               <p class="gl-item-category">People</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>The Girl</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girt in the forest</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girt in the forest</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="nature">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Night River</p>
               <p class="gl-item-category">Nature</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Night River</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>
<li class="gl-item gl-fixed-ratio-item gl-loading" data-category="fashion">
   <a href="#"> 
      <figure>
         <img src="http://placehold.it/700x471" alt="">
         <figcaption>
            <div class="middle"><div class="middle-inner">
               <p class="gl-item-title">Girl At Kitchen</p>
               <p class="gl-item-category">Fashion</p>
            </div></div>
         </figcaption>
      </figure>
   </a>
   <div class="gl-preview" style="diplay:none;">
      <span class="glp-arrow"></span>
      <a href="#" class="glp-close"></a>
      <div class="row gl-preview-container">
         <div class="col-sm-8">
            <figure>
               <img src="http://placehold.it/700x471" alt="">
               <a href="http://placehold.it/1280x1024" class="glp-zoom"></a>
            </figure>
         </div>
         <div class="col-sm-4 lg-preview-descr">
            <h4>Girl At Kitchen</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <p>We are team of creative photographers. We passionate with photography and other creative things. If you are looking professional photography theme with endless possibilities, you come in right place. This template consist of well-organized layers. Tons of features waiting for you. </p>
            <button class="btn btn-primary glp-readmore">Read More</button>
            <div class="mb-social glp-social">
               <p>Share</p>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
         </div>
      </div>
   </div> <!-- gl-preview -->
</li>