<?xml version="1.0" encoding="utf-8"?>
<config>
<params>
	<param name="googleapi" type="text" default="ABQIAAAAuX2FA6Et1hEbmRQeFmD73BQRT1ytpQt_eYOzdrlAwqbWcSbRxBQZTtXgubqtZBFl7WDX6har6Lrmfg" size="50" label="Google API Key" description="For Google Backlinks" />
	<param name="@spacer" type="spacer" default="" label="" description="" />
	<param name="appid" type="text" default="2_9q7EnV34FRemvwSgfeXgXwP3P_2986kfPPtruyRZDOHGj_MGftvY8PbqjspJsWfw--" size="50" label="Yahoo API Key" description="For Yahoo Backlinks and Indexed Pages" />
	<param name="@spacer" type="spacer" default="" label="" description="" />
	<param name="apikey" type="text" default="" size="50" label="Technorati API Key" description="For Technorati Blog Ranking" />
	<param name="@spacer" type="spacer" default="" label="" description="" />
	<param name="publickey" type="text" default="6LcESgkAAAAAAHvjcVVEKEOqfgoKcCwlyRpW2QGZ" size="50" label="Public Key" description="Public Key" />
	<param name="@spacer" type="spacer" default="" label="" description="" />
	<param name="privatekey" type="text" default="6LcESgkAAAAAADGRiz-PmC_V8PtbbnA6ESkIWBKF" size="50" label="Private key" description="Private Key" />
		
</params>
</config>