<style type="text/css">
<!--
BODY{
     font-family: Verdana;
     font-size: 9px;
     color: #222222;
     margin: 0px;
}
*{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.box{
     width: 750px;
     text-align: left;
     border: 1px solid #000000;
         background: #FFFFFF;
}
.main{
     text-align: left;
     border: 1px solid #000000;
         background: #F4F4F4;
}
TEXTAREA{width 150px border: 1px solid #D9D9D9; background-color: #F7F7F7; }
INPUT{  border: 1px solid #D9D9D9; background-color: #F7F7F7; }
SELECT{  border: 0px solid #D9D9D9; background-color: #F7F7F7; padding: 0px 0px; font-size: 10px; height: 14px;}
BUTTON{ width: 150px; border: 1px solid #D9D9D9; background-color: #F7F7F7; }

</style>  <STYLE type="text/css">
<!--
A { text-decoration:none }
A:hover { color:blue }
-->
</STYLE>
